Repository harborgrid-justin/white-cross: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

Move all documentation files from root to archived/ folder
  archived/BACKEND_FRONTEND_GAP_ANALYSIS.md
  archived/CLEANUP_REPORT.md
  archived/CONTROLLER_FIXES_REPORT.md
  archived/DATABASE_PERFORMANCE_REPORT.md
  archived/DUPLICATE_FILE_CLEANUP_REPORT.md
  archived/FRONTEND_API_ALIGNMENT_SUMMARY.md
  archived/FRONTEND_INTEGRATION_RECOMMENDATIONS.md
  archived/FRONTEND_PERFORMANCE_GAP_ANALYSIS.md
  archived/HEALTH_RECORDS_GAP_IMPLEMENTATION.md
  archived/IMMUNIZATIONS_UPGRADE_SUMMARY.md
  archived/MEDICATION_MODULE_IMPLEMENTATION_SUMMARY.md
  archived/NEXTJS_GAP_ANALYSIS_CHECKLIST.md
  archived/PERFORMANCE_AUDIT_REPORT.md
  archived/PERFORMANCE_AUDIT_SUMMARY.md
  archived/REACT_COMPONENT_ARCHITECTURE_REPORT.md
  archived/SECURITY_GAPS_IMPLEMENTATION_SUMMARY.md
  archived/TEMPLATE_COMPONENT_TREE.txt
  archived/TEMPLATE_REFACTORING_REPORT.md
  archived/TESTING_ANALYSIS_SUMMARY.md
  archived/TESTING_COVERAGE_REPORT.md
  archived/WEBSOCKET_ANALYSIS_EXECUTIVE_SUMMARY.md
  archived/WEBSOCKET_IMPLEMENTATION_REPORT.md
  archived/WEBSOCKET_IMPLEMENTATION_SUMMARY.md
  archived/frontend-css-gap-analysis-report.md
  archived/prometheus.yml
  backend/package-lock.json
Due: prettier --write

Move frontend documentation files to archived/ folder
  frontend/archived/FRONTEND_API_SECURITY_ERROR_ANALYSIS.md
  frontend/archived/IMPORT_EXPORT_FIX_SUMMARY.md
  frontend/archived/IMPROVEMENTS-SUMMARY.md
  frontend/archived/PERFORMANCE_INDEX.md
  frontend/archived/PERFORMANCE_OPTIMIZATION_GUIDE.md
  frontend/archived/REFACTORING_SUMMARY.md
  frontend/archived/REFACTORING_SUMMARY_DocumentsSidebar.md
  frontend/archived/SECURITY_IMPROVEMENTS.md
  frontend/archived/STYLING_ANALYSIS_SUMMARY.md
  frontend/archived/STYLING_GAP_ANALYSIS_REPORT.md
  frontend/archived/TESTING_GUIDELINES.md
Due: prettier --write

12345
  frontend/middleware.ts
  frontend/src/app/(dashboard)/dashboard/_components/DashboardContent.tsx
  frontend/src/app/(dashboard)/dashboard/_components/DashboardSidebar.tsx
  frontend/src/app/(dashboard)/layout-client.tsx
  frontend/src/app/(dashboard)/layout.tsx
  frontend/src/components/common/StatusBadge.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/breadcrumb.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/empty-state.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/item.tsx
  frontend/src/components/ui/kbd.tsx
  frontend/src/components/ui/loading/SkeletonCard.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/identity-access/lib/utils/token-utils.ts
  frontend/src/middleware/withRateLimit.example.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

123456
  backend/src/database/models/audit-log.model.ts
  backend/src/database/models/emergency-contact.model.ts
  backend/src/database/models/health-record.model.ts
  backend/src/database/models/student.model.ts
  backend/src/database/models/user.model.ts
  backend/src/emergency-contact/emergency-contact.service.ts
  backend/tsconfig.json
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

123
  .claude-team/.gitignore
  .claude-team/agents/accessibility-architect.md
  .claude-team/agents/api-architect.md
  .claude-team/agents/css-styling-architect.md
  .claude-team/agents/database-architect.md
  .claude-team/agents/frontend-performance-architect.md
  .claude-team/agents/frontend-testing-architect.md
  .claude-team/agents/jsdoc-typescript-architect.md
  .claude-team/agents/nestjs-configuration-architect.md
  .claude-team/agents/nestjs-controllers-architect.md
  .claude-team/agents/nestjs-graphql-architect.md
  .claude-team/agents/nestjs-microservices-architect.md
  .claude-team/agents/nestjs-providers-architect.md
  .claude-team/agents/nestjs-security-architect.md
  .claude-team/agents/nestjs-testing-architect.md
  .claude-team/agents/nestjs-websockets-architect.md
  .claude-team/agents/react-component-architect.md
  .claude-team/agents/sequelize-associations-architect.md
  .claude-team/agents/sequelize-migrations-architect.md
  .claude-team/agents/sequelize-models-architect.md
  .claude-team/agents/sequelize-performance-architect.md
  .claude-team/agents/sequelize-queries-architect.md
  .claude-team/agents/server-management-architect.md
  .claude-team/agents/state-management-architect.md
  .claude-team/agents/swagger-api-documentation-architect.md
  .claude-team/agents/typescript-architect.md
  .claude-team/agents/typescript-orchestrator.md
  .claude-team/agents/ui-ux-architect.md
  .claude-team/settings.local.json
  .gitignore
  backend/Dockerfile
  backend/Dockerfile.dev
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/next.config.optimized.ts
  frontend/next.config.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

hjkhj
  .dockerignore
  .env.docker.example
  .github/copilot-instructions.md
  .vscode/extensions.json
  backend/.dockerignore
  backend/package-lock.json
  backend/package.json
  backend/src/auth/services/token-blacklist.service.ts
  backend/src/database/database.module.ts
  backend/src/database/migrations/20251106000000-add-medication-log-foreign-key.js
  backend/src/database/migrations/20251106203949-create-performance-metrics-table.js
  backend/src/infrastructure/queue/queue.config.ts
  docker-compose.dev.yml
  docker-compose.yml
  frontend/.performance-budget.json
  frontend/next.config.ts
  frontend/package-lock.json
  frontend/package.json
  white-cross.code-workspace
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

hjkfhgjhfg
  backend/src/security/services/threat-detection.service.ts
  backend/src/shared/base/BaseService.ts
  backend/src/shared/healthcare/validators.ts
  backend/src/shared/logging/logger.service.ts
  backend/src/shared/utilities/resilience/retry.ts
  backend/src/shared/utilities/resilience/timeout.ts
  backend/src/student/dto/add-waitlist.dto.ts
  backend/src/student/dto/bulk-grade-transition.dto.ts
  backend/src/student/dto/bulk-update.dto.ts
  backend/src/student/dto/create-student.dto.ts
  backend/src/student/dto/import-transcript.dto.ts
  backend/src/student/dto/scan-barcode.dto.ts
  backend/src/student/dto/search-photo.dto.ts
  backend/src/student/dto/upload-photo.dto.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

123456
  backend/src/app.module.ts
  backend/src/appointment/appointment.module.ts
  backend/src/appointment/appointment.service.ts
  backend/src/appointment/controllers/appointment-core.controller.ts
  backend/src/appointment/controllers/appointment-query.controller.ts
  backend/src/appointment/controllers/appointment-status.controller.ts
  backend/src/appointment/controllers/reminder.controller.ts
  backend/src/appointment/controllers/waitlist.controller.ts
  backend/src/appointment/services/appointment-query.service.ts
  backend/src/appointment/services/appointment-read.service.ts
  backend/src/appointment/services/appointment-status.service.ts
  backend/src/appointment/services/appointment-write.service.ts
  backend/src/appointment/services/reminder.service.ts
  backend/src/appointment/services/waitlist.service.ts
  backend/src/audit/interceptors/audit.interceptor.ts
  backend/src/auth/guards/jwt-auth.guard.ts
  backend/src/emergency-contact/emergency-contact.service.ts
  backend/src/incident-report/controllers/incident-core.controller.ts
  backend/src/incident-report/controllers/incident-query.controller.ts
  backend/src/incident-report/controllers/incident-status.controller.ts
  backend/src/incident-report/incident-report.module.ts
  backend/src/incident-report/services/incident-core.service.ts
  backend/src/incident-report/services/incident-follow-up.service.ts
  backend/src/incident-report/services/incident-notification.service.ts
  backend/src/incident-report/services/incident-read.service.ts
  backend/src/incident-report/services/incident-status.service.ts
  backend/src/incident-report/services/incident-witness.service.ts
  backend/src/incident-report/services/incident-write.service.ts
  backend/src/incident-report/services/index.ts
  backend/src/infrastructure/websocket/gateways/admin.gateway.ts
  backend/src/infrastructure/websocket/services/admin-metrics.service.ts
  backend/src/infrastructure/websocket/websocket.service.ts
  backend/src/middleware/monitoring/audit.interceptor.ts
  backend/src/middleware/monitoring/monitoring.module.ts
  backend/src/shared/logging/logger.service.ts
  backend/src/student/controllers/student-core.controller.ts
  backend/src/student/controllers/student-status.controller.ts
  backend/src/student/services/student-status.service.ts
  backend/src/student/student.module.ts
  backend/src/student/student.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

14414141
  backend/src/appointment/appointment.module.ts
  backend/src/health-record/health-record.module.ts
  backend/src/infrastructure/graphql/graphql.module.ts
  backend/src/infrastructure/websocket/websocket.module.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

1324
  backend/src/appointment/index.ts
  backend/src/database/database.module.ts
  backend/src/database/models/conversation-participant.model.ts
  backend/src/database/models/conversation.model.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

feat: Add 20 comprehensive reusable utility libraries (800+ functions)
  reuse/api-utils.ts
  reuse/nest-config-utils.ts
  reuse/nest-controllers-utils.ts
  reuse/nest-decorators-utils.ts
  reuse/nest-graphql-utils.ts
  reuse/nest-interceptors-utils.ts
  reuse/nest-microservices-utils.ts
  reuse/nest-pipes-utils.ts
  reuse/nest-providers-utils.ts
  reuse/nest-security-utils.ts
  reuse/nest-testing-utils.ts
  reuse/nest-websockets-utils.ts
  reuse/sequelize-associations-utils.ts
  reuse/sequelize-migrations-utils.ts
  reuse/sequelize-models-utils.ts
  reuse/sequelize-performance-utils.ts
  reuse/sequelize-queries-utils.ts
  reuse/swagger-utils.ts
  reuse/tsconfig.json
  reuse/typescript-advanced-utils.ts
  reuse/typescript-utils.ts
Due: eslint --fix, prettier --write

feat: Add 20 comprehensive utility libraries for encryption, data handling, networking, and more (850+ functions)
  reuse/auditing-utils.ts
  reuse/authentication-utils.ts
  reuse/cache-management-utils.ts
  reuse/compression-utils.ts
  reuse/crud-operations-utils.ts
  reuse/data-transformation-utils.ts
  reuse/data-validation-utils.ts
  reuse/database-transaction-utils.ts
  reuse/encryption-utils.ts
  reuse/error-handling-utils.ts
  reuse/file-handling-utils.ts
  reuse/http-interceptors-utils.ts
  reuse/logging-utils.ts
  reuse/memory-handling-utils.ts
  reuse/network-operations-utils.ts
  reuse/pagination-utils.ts
  reuse/response-formatting-utils.ts
  reuse/rest-client-utils.ts
  reuse/serialization-utils.ts
  reuse/streaming-utils.ts
Due: eslint --fix, prettier --write

feat: Add comprehensive database-connection-kit (48 functions)
  reuse/database-connection-kit.ts
Due: eslint --fix, prettier --write

feat: Add 22 comprehensive IAM utility kits for NestJS, Sequelize, and TypeScript (900+ functions)
  reuse/iam-abac-kit.ts
  reuse/iam-api-keys-kit.ts
  reuse/iam-audit-kit.ts
  reuse/iam-authentication-kit.ts
  reuse/iam-authorization-kit.ts
  reuse/iam-config-kit.ts
  reuse/iam-delegation-kit.ts
  reuse/iam-federation-kit.ts
  reuse/iam-mfa-kit.ts
  reuse/iam-oauth-kit.ts
  reuse/iam-oidc-kit.ts
  reuse/iam-password-kit.ts
  reuse/iam-provisioning-kit.ts
  reuse/iam-quota-kit.ts
  reuse/iam-rbac-kit.ts
  reuse/iam-saml-kit.ts
  reuse/iam-scim-kit.ts
  reuse/iam-session-kit.ts
  reuse/iam-swagger-kit.ts
  reuse/iam-tenant-kit.ts
  reuse/iam-types-kit.ts
  reuse/iam-user-models-kit.ts
Due: eslint --fix, prettier --write

feat: Add 19 comprehensive utility libraries with 850+ functions
  reuse/api-design-kit.ts
  reuse/auth-security-kit.ts
  reuse/data-protection-kit.ts
  reuse/nestjs-config-kit.ts
  reuse/nestjs-controller-kit.ts
  reuse/nestjs-di-kit.ts
  reuse/nestjs-middleware-kit.ts
  reuse/nestjs-service-kit.ts
  reuse/nestjs-testing-kit.ts
  reuse/openapi-validation-kit.ts
  reuse/sequelize-graph-kit.ts
  reuse/sequelize-model-kit.ts
  reuse/sequelize-query-kit.ts
  reuse/sequelize-relations-kit.ts
  reuse/sequelize-schema-kit.ts
  reuse/sequelize-transaction-kit.ts
  reuse/swagger-documentation-kit.ts
  reuse/typescript-patterns-kit.ts
  reuse/typescript-validation-kit.ts
Due: eslint --fix, prettier --write

feat: Add 20 comprehensive utility kits with 900+ reusable functions
  reuse/database-schema-design-kit.ts
  reuse/nestjs-auth-security-kit.ts
  reuse/nestjs-caching-performance-kit.ts
  reuse/nestjs-configuration-management-kit.ts
  reuse/nestjs-dependency-injection-kit.ts
  reuse/nestjs-event-driven-patterns-kit.ts
  reuse/nestjs-graphql-schema-kit.ts
  reuse/nestjs-microservices-patterns-kit.ts
  reuse/nestjs-middleware-interceptor-kit.ts
  reuse/nestjs-testing-utilities-kit.ts
  reuse/nestjs-websocket-gateway-kit.ts
  reuse/rest-api-design-patterns-kit.ts
  reuse/sequelize-association-patterns-kit.ts
  reuse/sequelize-migration-helpers-kit.ts
  reuse/sequelize-model-definition-kit.ts
  reuse/sequelize-performance-optimization-kit.ts
  reuse/sequelize-query-builder-kit.ts
  reuse/swagger-openapi-documentation-kit.ts
  reuse/typescript-advanced-patterns-kit.ts
  reuse/typescript-validation-transformation-kit.ts
Due: eslint --fix, prettier --write

feat: Add 20 comprehensive utility kits with 900+ reusable functions
  reuse/api-gateway-kit.ts
  reuse/auth-security-kit.ts
  reuse/caching-performance-kit.ts
  reuse/config-environment-kit.ts
  reuse/data-export-import-kit.ts
  reuse/database-orm-kit.ts
  reuse/email-notification-kit.ts
  reuse/error-handling-kit.ts
  reuse/file-storage-kit.ts
  reuse/graphql-pro-kit.ts
  reuse/logging-monitoring-kit.ts
  reuse/microservices-comm-kit.ts
  reuse/queue-jobs-kit.ts
  reuse/rate-limit-throttle-kit.ts
  reuse/reporting-analytics-kit.ts
  reuse/search-filter-kit.ts
  reuse/security-encryption-kit.ts
  reuse/testing-utilities-kit.ts
  reuse/validation-transform-kit.ts
  reuse/websocket-realtime-kit.ts
Due: eslint --fix, prettier --write

feat: Add 19 comprehensive utility kits with 900+ reusable functions
  reuse/api-documentation-kit.ts
  reuse/authentication-kit.ts
  reuse/authorization-kit.ts
  reuse/configuration-kit.ts
  reuse/data-relations-kit.ts
  reuse/database-query-kit.ts
  reuse/dependency-injection-kit.ts
  reuse/environment-kit.ts
  reuse/event-driven-kit.ts
  reuse/graphql-kit.ts
  reuse/http-request-kit.ts
  reuse/microservices-kit.ts
  reuse/mocking-kit.ts
  reuse/realtime-kit.ts
  reuse/sequelize-optimization-kit.ts
  reuse/testing-kit.ts
  reuse/type-safety-kit.ts
  reuse/validation-kit.ts
  reuse/websocket-kit.ts
Due: eslint --fix, prettier --write

feat: Add 20 comprehensive utility kits with 900+ reusable functions
  reuse/authentication-authorization-kit.ts
  reuse/background-jobs-scheduling-kit.ts
  reuse/caching-strategies-kit.ts
  reuse/config-management-kit.ts
  reuse/database-associations-kit.ts
  reuse/database-models-kit.ts
  reuse/email-notifications-kit.ts
  reuse/error-handling-recovery-kit.ts
  reuse/file-storage-processing-kit.ts
  reuse/http-controllers-kit.ts
  reuse/logging-monitoring-kit.ts
  reuse/microservices-kit.ts
  reuse/query-builder-kit.ts
  reuse/rate-limiting-throttling-kit.ts
  reuse/service-providers-kit.ts
  reuse/swagger-docs-kit.ts
  reuse/testing-utilities-kit.ts
  reuse/typescript-patterns-kit.ts
  reuse/validation-sanitization-kit.ts
  reuse/websocket-real-time-kit.ts
Due: eslint --fix, prettier --write

feat: Add production-grade error handling and exception management utility kit
  reuse/error-handling-kit.examples.ts
  reuse/error-handling-kit.prod.ts
Due: eslint --fix, prettier --write

feat: Add 20 comprehensive production-grade utility kits with 1,200+ reusable functions
  reuse/README.md
  reuse/api-versioning-kit.prod.ts
  reuse/auth-security-kit.prod.ts
  reuse/background-jobs-kit.prod.ts
  reuse/caching-strategies-kit.prod.ts
  reuse/config-management-kit.prod.ts
  reuse/data-import-export-kit.prod.ts
  reuse/data-migration-kit.prod.ts
  reuse/file-storage-kit.prod.ts
  reuse/internationalization-kit.prod.ts
  reuse/logging-monitoring-kit.prod.ts
  reuse/notification-kit.prod.ts
  reuse/payment-processing-kit.prod.ts
  reuse/query-optimization-kit.prod.ts
  reuse/rate-limiting-kit.prod.ts
  reuse/realtime-communication-kit.prod.ts
  reuse/search-indexing-kit.prod.ts
  reuse/testing-utilities-kit.prod.ts
  reuse/validation-sanitization-kit.prod.ts
  reuse/webhook-management-kit.prod.ts
Due: eslint --fix, prettier --write

Update graphql-kit.ts
  reuse/graphql-kit.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  bash -c 'cd backend && tsc --noEmit': any of: backend/**/*.ts
  bash -c 'cd frontend && tsc --noEmit': any of: frontend/**/*.{ts,tsx}
