Repository harborgrid-justin/white-cross: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

Update cerner-lab-integration-composites.ts
  reuse/server/health/composites/cerner-lab-integration-composites.ts
Due: eslint --fix, prettier --write

Update cerner-nursing-documentation-composites.ts
  reuse/server/health/composites/cerner-nursing-documentation-composites.ts
Due: eslint --fix, prettier --write

Add 24 production-ready CEFMS composite function files for USACE
  reuse/financial/cefms/composites/cefms-accounts-payable-processing-composite.ts
  reuse/financial/cefms/composites/cefms-budget-forecasting-scenarios-composite.ts
  reuse/financial/cefms/composites/cefms-capital-equipment-acquisition-composite.ts
  reuse/financial/cefms/composites/cefms-cash-flow-forecasting-composite.ts
  reuse/financial/cefms/composites/cefms-construction-progress-billing-composite.ts
  reuse/financial/cefms/composites/cefms-debt-obligation-tracking-composite.ts
  reuse/financial/cefms/composites/cefms-depreciation-amortization-composite.ts
  reuse/financial/cefms/composites/cefms-employee-time-attendance-composite.ts
  reuse/financial/cefms/composites/cefms-financial-statement-consolidation-composite.ts
  reuse/financial/cefms/composites/cefms-fixed-asset-management-composite.ts
  reuse/financial/cefms/composites/cefms-grant-lifecycle-tracking-composite.ts
  reuse/financial/cefms/composites/cefms-insurance-claims-processing-composite.ts
  reuse/financial/cefms/composites/cefms-internal-controls-testing-composite.ts
  reuse/financial/cefms/composites/cefms-investment-portfolio-management-composite.ts
  reuse/financial/cefms/composites/cefms-lease-accounting-management-composite.ts
  reuse/financial/cefms/composites/cefms-pension-benefits-administration-composite.ts
  reuse/financial/cefms/composites/cefms-position-control-budgeting-composite.ts
  reuse/financial/cefms/composites/cefms-project-costing-allocation-composite.ts
  reuse/financial/cefms/composites/cefms-revenue-recognition-management-composite.ts
  reuse/financial/cefms/composites/cefms-risk-assessment-mitigation-composite.ts
  reuse/financial/cefms/composites/cefms-tax-assessment-collection-composite.ts
  reuse/financial/cefms/composites/cefms-utility-billing-collections-composite.ts
  reuse/financial/cefms/composites/cefms-vendor-invoice-processing-composite.ts
  reuse/financial/cefms/composites/cefms-working-capital-fund-composite.ts
Due: eslint --fix, prettier --write

Add 25 production-ready consulting composite files
  reuse/consulting/composites/accenture-digital-composites.ts
  reuse/consulting/composites/accenture-persistence-composites.ts
  reuse/consulting/composites/at-kearney-consulting-composites.ts
  reuse/consulting/composites/bain-organizational-composites.ts
  reuse/consulting/composites/bcg-insights-composites.ts
  reuse/consulting/composites/bcg-integration-composites.ts
  reuse/consulting/composites/bcg-model-composites.ts
  reuse/consulting/composites/bcg-operations-composites.ts
  reuse/consulting/composites/bcg-provider-composites.ts
  reuse/consulting/composites/booz-allen-advisory-composites.ts
  reuse/consulting/composites/capgemini-orm-composites.ts
  reuse/consulting/composites/deloitte-database-composites.ts
  reuse/consulting/composites/deloitte-intelligence-composites.ts
  reuse/consulting/composites/deloitte-service-composites.ts
  reuse/consulting/composites/deloitte-technology-composites.ts
  reuse/consulting/composites/ey-rest-composites.ts
  reuse/consulting/composites/kpmg-performance-composites.ts
  reuse/consulting/composites/mckinsey-analytics-composites.ts
  reuse/consulting/composites/mckinsey-api-composites.ts
  reuse/consulting/composites/mckinsey-data-composites.ts
  reuse/consulting/composites/mckinsey-service-composites.ts
  reuse/consulting/composites/mckinsey-strategy-composites.ts
  reuse/consulting/composites/oliver-wyman-enterprise-composites.ts
  reuse/consulting/composites/pwc-endpoint-composites.ts
  reuse/consulting/composites/roland-berger-domain-composites.ts
Due: eslint --fix, prettier --write

Add 25 USACE CEFMS composite function files
  reuse/frontend/composites/usace/usace-accounting-systems-composites.ts
  reuse/frontend/composites/usace/usace-asset-management-composites.ts
  reuse/frontend/composites/usace/usace-audit-trails-composites.ts
  reuse/frontend/composites/usace/usace-budget-planning-composites.ts
  reuse/frontend/composites/usace/usace-construction-projects-composites.ts
  reuse/frontend/composites/usace/usace-contract-management-composites.ts
  reuse/frontend/composites/usace/usace-cost-tracking-composites.ts
  reuse/frontend/composites/usace/usace-document-control-composites.ts
  reuse/frontend/composites/usace/usace-engineering-design-composites.ts
  reuse/frontend/composites/usace/usace-environmental-compliance-composites.ts
  reuse/frontend/composites/usace/usace-equipment-tracking-composites.ts
  reuse/frontend/composites/usace/usace-facilities-operations-composites.ts
  reuse/frontend/composites/usace/usace-financial-reporting-composites.ts
  reuse/frontend/composites/usace/usace-fiscal-operations-composites.ts
  reuse/frontend/composites/usace/usace-inventory-systems-composites.ts
  reuse/frontend/composites/usace/usace-maintenance-scheduling-composites.ts
  reuse/frontend/composites/usace/usace-milestone-tracking-composites.ts
  reuse/frontend/composites/usace/usace-personnel-management-composites.ts
  reuse/frontend/composites/usace/usace-procurement-composites.ts
  reuse/frontend/composites/usace/usace-project-scheduling-composites.ts
  reuse/frontend/composites/usace/usace-quality-assurance-composites.ts
  reuse/frontend/composites/usace/usace-regulatory-compliance-composites.ts
  reuse/frontend/composites/usace/usace-resource-allocation-composites.ts
  reuse/frontend/composites/usace/usace-safety-management-composites.ts
  reuse/frontend/composites/usace/usace-work-orders-composites.ts
Due: eslint --fix, prettier --write

Add generation summary documentation
  USACE-DOWNSTREAM-GENERATION-SUMMARY.md
Due: prettier --write

Add delivery summary documentation for downstream services generation
  DELIVERY_SUMMARY.md
Due: prettier --write

Add production-ready risk management analytics composite
  reuse/trading/composites/risk-management-analytics-composite.ts
Due: eslint --fix, prettier --write

feat: Apply Next.js and React enterprise best practices to USACE downstream composites
  reuse/frontend/composites/usace/downstream/IMPROVEMENTS.md
  reuse/frontend/composites/usace/downstream/accountability-reporting-modules.ts
  reuse/frontend/composites/usace/downstream/audit-systems.ts
  reuse/frontend/composites/usace/downstream/budget-planning-applications.ts
  reuse/frontend/composites/usace/downstream/project-scheduling-controllers.ts
  reuse/frontend/composites/usace/downstream/shared-utilities.ts
Due: eslint --fix, prettier --write

Add production-ready market making composite for Bloomberg Terminal
  reuse/trading/composites/market-making-liquidity-composite.ts
Due: eslint --fix, prettier --write

Add 25 production-ready Bloomberg Terminal trading composite files
  reuse/trading/composites/commodities-trading-analytics-composite.ts
  reuse/trading/composites/credit-risk-analysis-composite.ts
  reuse/trading/composites/derivatives-pricing-analytics-composite.ts
  reuse/trading/composites/equity-trading-analytics-composite.ts
  reuse/trading/composites/fixed-income-analytics-composite.ts
  reuse/trading/composites/fundamental-analysis-screening-composite.ts
  reuse/trading/composites/fx-currency-trading-composite.ts
  reuse/trading/composites/margin-collateral-management-composite.ts
  reuse/trading/composites/market-microstructure-composite.ts
  reuse/trading/composites/market-surveillance-compliance-composite.ts
  reuse/trading/composites/multi-asset-portfolio-composite.ts
  reuse/trading/composites/order-flow-analytics-composite.ts
  reuse/trading/composites/order-management-system-composite.ts
  reuse/trading/composites/pnl-calculation-attribution-composite.ts
  reuse/trading/composites/portfolio-analytics-composite.ts
  reuse/trading/composites/position-management-composite.ts
  reuse/trading/composites/real-time-market-data-composite.ts
  reuse/trading/composites/regulatory-reporting-compliance-composite.ts
  reuse/trading/composites/strategy-backtesting-composite.ts
  reuse/trading/composites/technical-analysis-charting-composite.ts
  reuse/trading/composites/trade-execution-routing-composite.ts
  reuse/trading/composites/trade-settlement-clearing-composite.ts
  reuse/trading/composites/trading-algorithms-strategies-composite.ts
Due: eslint --fix, prettier --write

feat: Add 25 production-ready legal composite functions for Bloomberg Law and Westlaw
  reuse/legal/composites/bloomberg-law-billing-analytics-composite.ts
  reuse/legal/composites/bloomberg-law-case-analytics-composite.ts
  reuse/legal/composites/bloomberg-law-compliance-tracking-composite.ts
  reuse/legal/composites/bloomberg-law-contract-intelligence-composite.ts
  reuse/legal/composites/bloomberg-law-discovery-composite.ts
  reuse/legal/composites/bloomberg-law-docket-management-composite.ts
  reuse/legal/composites/bloomberg-law-entity-governance-composite.ts
  reuse/legal/composites/bloomberg-law-ip-management-composite.ts
  reuse/legal/composites/bloomberg-law-litigation-composite.ts
  reuse/legal/composites/bloomberg-law-research-workflow-composite.ts
  reuse/legal/composites/unified-analytics-reporting-composite.ts
  reuse/legal/composites/unified-document-lifecycle-composite.ts
  reuse/legal/composites/unified-legal-search-composite.ts
  reuse/legal/composites/unified-matter-management-composite.ts
  reuse/legal/composites/unified-regulatory-intelligence-composite.ts
  reuse/legal/composites/westlaw-adr-composite.ts
  reuse/legal/composites/westlaw-case-research-composite.ts
  reuse/legal/composites/westlaw-client-collaboration-composite.ts
  reuse/legal/composites/westlaw-compliance-suite-composite.ts
  reuse/legal/composites/westlaw-document-automation-composite.ts
  reuse/legal/composites/westlaw-knowledge-management-composite.ts
  reuse/legal/composites/westlaw-legislative-tracking-composite.ts
  reuse/legal/composites/westlaw-litigation-tools-composite.ts
  reuse/legal/composites/westlaw-practice-management-composite.ts
  reuse/legal/composites/westlaw-risk-assessment-composite.ts
Due: eslint --fix, prettier --write

docs: Add comprehensive enterprise engineering review for downstream composites
  DOWNSTREAM_COMPOSITES_TESTING_STRATEGY.md
  reuse/server/health/composites/downstream/__tests__/hipaa-compliance-modules.spec.ts
  reuse/server/health/composites/downstream/__tests__/medication-administration-record-mar.spec.ts
  reuse/server/health/composites/downstream/__tests__/patient-portal-services.spec.ts
Due: eslint --fix, prettier --write

docs: Add enterprise engineering review reports for downstream composites
  openapi-swagger-documentation-gap-analysis.md
  swagger-documentation-quick-reference.md
Due: prettier --write

feat: Add 25 enterprise-ready reusable reference utility files
  reuse/data/advanced-queries.ts
  reuse/data/api-response.ts
  reuse/data/api-validation.ts
  reuse/data/association-manager.ts
  reuse/data/async-coordination.ts
  reuse/data/concurrency-control.ts
  reuse/data/connection-pooling.ts
  reuse/data/controller-decorators.ts
  reuse/data/crud-operations.ts
  reuse/data/data-repository.ts
  reuse/data/data-security.ts
  reuse/data/dependency-injection.ts
  reuse/data/encryption-service.ts
  reuse/data/isolation-strategies.ts
  reuse/data/migration-utilities.ts
  reuse/data/model-decorators.ts
  reuse/data/model-factory.ts
  reuse/data/parallel-execution.ts
  reuse/data/query-builder.ts
  reuse/data/request-handlers.ts
  reuse/data/service-patterns.ts
  reuse/data/swagger-config.ts
  reuse/data/swagger-decorators.ts
  reuse/data/transaction-coordination.ts
  reuse/data/transaction-manager.ts
Due: eslint --fix, prettier --write

docs: Add comprehensive production-readiness progress report
  PRODUCTION-READINESS-PROGRESS.md
Due: prettier --write

feat: Add 25 production-ready data layer composite files with comprehensive reusable functions
  reuse/PATTERNS-DOCUMENTATION-INDEX.md
  reuse/PRODUCTION-PATTERNS-CHECKLIST.md
  reuse/PRODUCTION-PATTERNS-GUIDE.md
  reuse/threat/composites/downstream/data_layer/composites/aggregation-analytics-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/analytics-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/atomic-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/batch-processing-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/bulk-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/complex-queries-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/crud-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/data-export-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/data-persistence-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/data-retrieval-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/dto-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/entity-management-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/filter-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/import-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/join-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/metrics-calculation-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/query-optimization-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/relation-management-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/reporting-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/sanitization-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/schema-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/search-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/transaction-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/transformation-operations-kit.ts
  reuse/threat/composites/downstream/data_layer/composites/validation-operations-kit.ts
Due: eslint --fix, prettier --write

docs: Add comprehensive mission completion report (100% done)
  MISSION-COMPLETE.md
Due: prettier --write

feat: Enterprise production-ready enhancements for reuse/data utilities
  reuse/data/advanced-queries.ts
  reuse/data/api-response.ts
  reuse/data/api-validation.ts
  reuse/data/association-manager.ts
  reuse/data/async-coordination.ts
  reuse/data/concurrency-control.ts
  reuse/data/connection-pooling.ts
  reuse/data/controller-decorators.ts
  reuse/data/crud-operations.ts
  reuse/data/data-repository.ts
  reuse/data/data-security.ts
  reuse/data/dependency-injection.ts
  reuse/data/encryption-service.ts
  reuse/data/isolation-strategies.ts
  reuse/data/migration-utilities.ts
  reuse/data/model-decorators.ts
  reuse/data/model-factory.ts
  reuse/data/parallel-execution.ts
  reuse/data/query-builder.ts
  reuse/data/request-handlers.ts
  reuse/data/service-patterns.ts
  reuse/data/swagger-config.ts
  reuse/data/swagger-decorators.ts
  reuse/data/transaction-coordination.ts
  reuse/data/transaction-manager.ts
Due: eslint --fix, prettier --write

docs: Add Swagger enhancements report
  .swagger-enhancements-report.md
Due: prettier --write

feat: Generate comprehensive downstream composite service files
  reuse/threat/composites/downstream/data_layer/composites/downstream/analytics-dashboards.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/api-controllers.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/api-response-formatters.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/api-validation-pipelines.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/audit-trail-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/batch-processing-systems.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/business-intelligence-platforms.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/business-logic-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/cache-managers.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/data-access-service.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/data-export-endpoints.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/data-import-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/data-persistence-layers.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/data-validation-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/etl-pipeline-processors.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/executive-dashboards.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/form-validation-handlers.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/healthcare-persistence-layers.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/input-sanitization-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/integration-middleware.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/integration-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/kpi-tracking-platforms.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/output-encoding-handlers.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/query-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/reporting-systems.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/repository-implementations.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/search-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/security-analytics-platforms.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/security-middleware.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/threat-intelligence-platforms.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/workflow-orchestrators.ts
Due: eslint --fix, prettier --write

feat: Add 15 enterprise-critical downstream services to compete with Anomali/Recorded Future
  reuse/threat/composites/downstream/data_layer/composites/downstream/compliance-reporting.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/concurrent-update-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/data-migration-tools.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/database-migration-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/distributed-system-operations.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/entity-lifecycle-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/financial-reporting-systems.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/incident-response-systems.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/infrastructure-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/performance-monitoring-systems.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/performance-optimization-modules.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/risk-management-modules.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/risk-management-systems.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/schema-management-tools.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/state-management-systems.ts
Due: eslint --fix, prettier --write

feat: Add 25+ production-ready composite function libraries
  reuse/data/composites/README.md
  reuse/data/composites/advanced-batch-queries.ts
  reuse/data/composites/aggregate-analytics-queries.ts
  reuse/data/composites/api-validation-decorators.ts
  reuse/data/composites/api-version-management.ts
  reuse/data/composites/authentication-guard-composites.ts
  reuse/data/composites/backup-restore-strategies.ts
  reuse/data/composites/complex-join-operations.ts
  reuse/data/composites/controller-route-factories.ts
  reuse/data/composites/data-encryption-security.ts
  reuse/data/composites/database-optimization-utilities.ts
  reuse/data/composites/database-performance-monitoring.ts
  reuse/data/composites/exception-filter-strategies.ts
  reuse/data/composites/migration-version-control.ts
  reuse/data/composites/model-association-strategies.ts
  reuse/data/composites/model-factory-generators.ts
  reuse/data/composites/model-lifecycle-hooks.ts
  reuse/data/composites/model-scope-patterns.ts
  reuse/data/composites/model-validation-composites.ts
  reuse/data/composites/openapi-response-formatters.ts
  reuse/data/composites/query-optimization-cache.ts
  reuse/data/composites/request-validation-pipes.ts
  reuse/data/composites/response-interceptor-patterns.ts
  reuse/data/composites/streaming-query-operations.ts
  reuse/data/composites/swagger-documentation-automation.ts
  reuse/data/composites/swagger-endpoint-documentation.ts
  reuse/data/composites/swagger-parameter-decorators.ts
  reuse/data/composites/swagger-response-builders.ts
  reuse/data/composites/swagger-schema-generators.ts
  reuse/data/composites/swagger-security-schemes.ts
Due: eslint --fix, prettier --write

docs: Add comprehensive production-grade review of data layer composites
  PERFORMANCE_SCALABILITY_REVIEW.md
  SECURITY_GAPS_COMPARISON.md
  SECURITY_IMPLEMENTATION_GUIDE.md
  SECURITY_REVIEW_DOWNSTREAM_DATA_LAYER.md
  SECURITY_REVIEW_EXECUTIVE_SUMMARY.md
Due: prettier --write

feat: Implement partial production-grade improvements to data layer composites
  reuse/threat/composites/downstream/data_layer/composites/downstream/audit-trail-services.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/batch-processing-systems.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/cache-managers.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/filters/global-exception.filter.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/filters/hipaa-compliance.filter.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/hipaa-phi-encryption.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/hipaa-session-management.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/security-middleware.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/services/connection-pool-manager.service.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/services/distributed-lock-manager.service.ts
  reuse/threat/composites/downstream/data_layer/composites/downstream/shared-utilities/model-registry.ts
Due: eslint --fix, prettier --write

1234756
  frontend/src/app/api/auth/login/route.ts
  frontend/src/app/api/auth/refresh/route.ts
  frontend/src/app/api/auth/verify/route.ts
  frontend/src/constants/api.ts
  frontend/src/lib/audit.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

qwe
  reuse/education/composites/downstream/BATCH_3_COMPLETIONS.md
  reuse/education/composites/downstream/TRANSFORMATION_SUMMARY.md
  reuse/education/composites/downstream/academic-curriculum-controllers.ts
  reuse/education/composites/downstream/academic-history-modules.ts
  reuse/education/composites/downstream/academic-intervention-services.ts
  reuse/education/composites/downstream/academic-planning-services.ts
  reuse/education/composites/downstream/academic-success-modules.ts
  reuse/education/composites/downstream/attendance-management-controllers.ts
  reuse/education/composites/downstream/enrollment-management-controllers.ts
  reuse/education/composites/downstream/faculty-administration-controllers.ts
  reuse/education/composites/downstream/grading-controllers.ts
  reuse/education/composites/downstream/student-portal-services.ts
  reuse/education/composites/downstream/student-success-services.ts
  reuse/education/composites/downstream/transcript-services.ts
Due: eslint --fix, prettier --write

1234
  frontend/src/components/features/incidents/IncidentReportsList.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

Merge branch 'master' of https://github.com/harborgrid-justin/white-cross
  backend/src/audit/audit.controller.ts
  backend/src/audit/audit.module.ts
  backend/src/simple-unlock.js
  backend/src/unlock-users.ts
  frontend/middleware.ts
  frontend/next.config.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

789
  LOGIN_FLOW_TRACE.txt
  frontend/src/app/forgot-password/loading.tsx
  frontend/src/app/forgot-password/page.tsx
  frontend/src/app/register/loading.tsx
  frontend/src/app/register/page.tsx
  frontend/src/app/reset-password/loading.tsx
  frontend/src/app/reset-password/page.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  bash -c 'cd backend && tsc --noEmit': any of: backend/**/*.ts
  bash -c 'cd frontend && tsc --noEmit': any of: frontend/**/*.{ts,tsx}
