Repository harborgrid-justin/white-cross: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "backend/**/*.ts": [
    "bash -c 'cd backend && tsc --noEmit'"
  ],
  "frontend/**/*.{ts,tsx}": [
    "bash -c 'cd frontend && tsc --noEmit'"
  ]
}

feat(appointments): Complete core appointment management functionality (40% → 85%)
  docs/SECURITY_AUDIT_REPORT.md
  nextjs/src/app/students/[id]/page.tsx
  nextjs/src/app/students/new/page.tsx
  nextjs/src/components/communications/MessageTemplates.tsx
  nextjs/src/components/features/health-records/components/shared/StatsCard.tsx
  nextjs/src/components/layout/Breadcrumbs.tsx
  nextjs/src/components/ui/display/Accordion.tsx
  nextjs/src/components/ui/errors/ErrorBoundary.tsx
  nextjs/src/components/ui/feedback/EmptyState.tsx
  nextjs/src/components/ui/inputs/Combobox.tsx
  nextjs/src/components/ui/navigation/TabNavigation.tsx
  tests/integration/modules/admin.integration.test.ts
  tests/integration/workflows/appointment-scheduling.test.ts
Due: eslint --fix, prettier --write

feat(nextjs): add 'use client' directives to 119 interactive components
  nextjs/docs/CLIENT_COMPONENT_GUIDE.md
  nextjs/src/components/ui/overlays/Sheet.tsx
Due: eslint --fix, prettier --write

docs: Add Agent 8 migration verification report - confirms 100% completion
  docs/AGENT_8_MIGRATION_VERIFICATION_REPORT.md
Due: prettier --write

feat(components): deduplicate components and establish canonical locations
  AGENT_7_COMPLETION_REPORT.md
  docs/COMPONENT_MIGRATION_AUDIT.md
  docs/PRODUCTION_READINESS_ASSESSMENT.md
  nextjs/src/components/ui/display/index.ts
  nextjs/src/components/ui/inputs/index.ts
  nextjs/src/components/ui/navigation/CommandPalette.tsx
  nextjs/src/components/ui/navigation/index.ts
  nextjs/src/components/ui/overlays/index.ts
  tests/integration/workflows/incident-reporting.test.ts
  tests/integration/workflows/student-health-tracking.test.ts
Due: eslint --fix, prettier --write

docs: Add component deduplication completion report
  COMPONENT_DEDUPLICATION_REPORT.md
Due: prettier --write

feat: Complete integration testing suite with comprehensive coverage
  tests/integration/AGENT_9_COMPLETION_REPORT.md
  tests/integration/TESTING_GUIDE.md
  tests/integration/auth/session.test.ts
  tests/integration/hipaa/data-encryption.test.ts
  tests/integration/hipaa/phi-access.test.ts
  tests/integration/performance/page-load.test.ts
Due: eslint --fix, prettier --write

docs: Add master agent consolidation report
  AGENT_6_COMPLETION_REPORT.md
  MASTER_AGENT_CONSOLIDATION_REPORT.md
  docs/PRODUCTION_LAUNCH_CHECKLIST.md
Due: prettier --write

feat: Generate comprehensive Next.js production-ready files and optimization utilities
  ANALYSIS_DELIVERABLES.md
  ASSET_OPTIMIZATION_FINDINGS.md
  DATA_FETCHING_ANALYSIS.md
  frontend/COMPONENT_ARCHITECTURE_ANALYSIS.md
  nextjs/ASSET_OPTIMIZATION_ANALYSIS.md
  nextjs/GENERATED_FILES_SUMMARY.md
  nextjs/IMPLEMENTATION_GUIDE.md
  nextjs/public/manifest.json
  nextjs/public/robots.txt
  nextjs/src/app/apple-icon.tsx
  nextjs/src/app/global-error.tsx
  nextjs/src/app/icon.tsx
  nextjs/src/app/opengraph-image.tsx
  nextjs/src/app/sitemap.ts
  nextjs/src/app/template.tsx
  nextjs/src/app/twitter-image.tsx
  nextjs/src/components/common/ErrorStates.tsx
  nextjs/src/components/common/LoadingStates.tsx
  nextjs/src/components/common/ScriptLoader.tsx
  nextjs/src/config/performance.ts
  nextjs/src/scripts/migrate-images.ts
  nextjs/src/utils/metadata.ts
Due: eslint --fix, prettier --write

feat(nextjs): Complete Next.js compliance audit and implement critical fixes
  nextjs/NEXTJS_API_ROUTES_COMPLIANCE_AUDIT.md
  nextjs/NEXTJS_COMPLIANCE_AUDIT_MASTER_REPORT.md
  nextjs/archive/middleware-variants/middleware.enhanced.ts
  nextjs/archive/middleware-variants/middleware.ts.backup
  nextjs/public/file.svg
  nextjs/public/globe.svg
  nextjs/public/next.svg
  nextjs/public/vercel.svg
  nextjs/public/window.svg
  nextjs/src/app/actions/communication.ts
  nextjs/src/app/actions/incidents.ts
  nextjs/src/app/notifications/page.tsx
  nextjs/src/app/notifications/settings/page.tsx
  nextjs/src/app/students/actions.ts
  nextjs/src/app/students/page.enhanced.tsx
  nextjs/src/components/medications/modals/MedicationDetailsModal.tsx
  nextjs/src/components/medications/modals/MedicationFormModal.tsx
  nextjs/src/components/medications/tabs/MedicationsTab.tsx
  nextjs/src/middleware.ts
Due: eslint --fix, prettier --write

feat(nextjs): Replace all TODO actions with production-ready implementations
  nextjs/DOCUMENTS_IMPLEMENTATION.md
  nextjs/docs/compliance-actions-api-integration.md
  nextjs/docs/compliance-actions-implementation-summary.md
  nextjs/src/actions/appointments.actions.ts
  nextjs/src/actions/compliance.actions.ts
  nextjs/src/actions/documents.actions.ts
  nextjs/src/actions/forms.actions.ts
  nextjs/src/actions/index.ts
  nextjs/src/actions/medications.actions.ts
  nextjs/src/actions/students.actions.ts
  nextjs/src/lib/api-client.ts
  nextjs/src/lib/audit.ts
  nextjs/src/lib/documents/access-control.ts
  nextjs/src/lib/documents/encryption.ts
  nextjs/src/lib/documents/index.ts
  nextjs/src/lib/documents/request-context.ts
  nextjs/src/lib/documents/signatures.ts
  nextjs/src/lib/documents/storage.ts
  nextjs/src/lib/documents/virus-scan.ts
  nextjs/src/lib/forms/api.ts
  nextjs/src/lib/forms/sanitization.ts
  nextjs/src/lib/forms/schema.ts
  nextjs/src/lib/forms/security.ts
  nextjs/src/lib/forms/types.ts
  nextjs/src/lib/forms/validation.ts
  nextjs/src/lib/permissions.ts
  nextjs/src/lib/phi.ts
  nextjs/src/lib/security/encryption-forms.ts
  nextjs/src/lib/session.ts
Due: eslint --fix, prettier --write

chore(nextjs): Update package dependencies for utility libraries
  nextjs/package-lock.json
  nextjs/package.json
Due: prettier --write

12341324
  backend/src/index.ts
  nextjs/CYPRESS_README.md
  nextjs/cypress.config.ts
  nextjs/cypress.env.json
  nextjs/cypress/e2e/login/01-successful-login.cy.ts
  nextjs/cypress/e2e/login/02-failed-login.cy.ts
  nextjs/cypress/e2e/login/03-form-validation.cy.ts
  nextjs/cypress/e2e/login/04-accessibility.cy.ts
  nextjs/cypress/e2e/login/05-security.cy.ts
  nextjs/cypress/e2e/login/06-session-management.cy.ts
  nextjs/cypress/e2e/login/07-ui-ux.cy.ts
  nextjs/cypress/e2e/login/08-edge-cases.cy.ts
  nextjs/cypress/e2e/login/09-performance.cy.ts
  nextjs/cypress/e2e/login/10-integration.cy.ts
  nextjs/cypress/fixtures/users.json
  nextjs/cypress/screenshots/01-successful-login.cy.ts/Login - Successful Authentication -- should successfully login with valid credentials (failed) (attempt 2).png
  nextjs/cypress/screenshots/01-successful-login.cy.ts/Login - Successful Authentication -- should successfully login with valid credentials (failed) (attempt 3).png
  nextjs/cypress/screenshots/01-successful-login.cy.ts/Login - Successful Authentication -- should successfully login with valid credentials (failed).png
  nextjs/cypress/support/commands.ts
  nextjs/cypress/support/component.ts
  nextjs/cypress/support/e2e.ts
  nextjs/cypress/videos/01-successful-login.cy.ts-compressed.mp4
  nextjs/cypress/videos/01-successful-login.cy.ts.mp4
  nextjs/package-lock.json
  nextjs/package.json
  nextjs/src/app/(dashboard)/appointments/calendar/page.tsx
  nextjs/src/app/(dashboard)/dashboard/page.tsx
  nextjs/src/app/(dashboard)/inventory/items/_components/InventoryItemsContent.tsx
  nextjs/src/app/(dashboard)/inventory/items/page.tsx
  nextjs/src/app/(dashboard)/medications/page.tsx
  nextjs/src/app/admin/monitoring/health/_components/SystemHealthDisplay.tsx
  nextjs/src/app/admin/monitoring/health/page.tsx
  nextjs/src/app/api/proxy/[...path]/route.ts
  nextjs/src/app/providers.tsx
  nextjs/src/components/layouts/Breadcrumbs.tsx
  nextjs/src/components/layouts/Sidebar.tsx
  nextjs/src/constants/config.ts
  nextjs/src/stores/store.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

fix(nextjs): Fix login and network connection errors
  nextjs/.env.example
  nextjs/LOGIN_NETWORK_FIXES.md
  nextjs/src/actions/admin.actions.ts
  nextjs/src/actions/auth.actions.ts
  nextjs/src/actions/health-records.actions.ts
  nextjs/src/actions/settings.actions.ts
  nextjs/src/lib/server/api-client.ts
Due: eslint --fix, prettier --write

mkm
  .gitignore
  backend/src/constants/index.ts
  nextjs/package-lock.json
  nextjs/src/constants/api.ts
  nextjs/src/services/modules/authApi.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

mkm
  .vscode/settings.json
  DOCKER_SETUP_README.md
  backend/.sequelizerc
  backend/generate-hash.mjs
  backend/src/database/models/core/User.ts
  check_user.sql
  create_test_user.sql
  create_test_user_hashed.sql
  docker-compose.nextjs.yml
  final-connectivity-test.js
  frontend/src/contexts/AuthContext.tsx
  nextjs/Dockerfile.dev
  nextjs/final-test.js
  nextjs/src/app/api/health/route.ts
  nextjs/src/app/api/proxy/[...path]/route.ts
  nextjs/src/constants/config.ts
  nextjs/test-api-connectivity.js
  nextjs/test-realistic-api.js
  scripts/docker-dev.ps1
  scripts/docker-dev.sh
  test-auth-api.js
  test-bcrypt.js
  test-login-detailed.js
  test-login-with-users-table.js
  test-nextjs-auth.js
  update_password.sql
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

Move all .md files from root to docs/
  docs/ADMIN_MODULE_IMPLEMENTATION_GUIDE.md
  docs/ADMIN_SETTINGS_IMPLEMENTATION_GUIDE.md
  docs/AGENT_6_COMPLETION_REPORT.md
  docs/AGENT_7_COMPLETION_REPORT.md
  docs/ANALYSIS_DELIVERABLES.md
  docs/APPOINTMENTS-MIGRATION-SUMMARY.md
  docs/APPOINTMENTS-PERFORMANCE-REPORT.md
  docs/ASSET_OPTIMIZATION_FINDINGS.md
  docs/CLAUDE.md
  docs/COMPONENT_DEDUPLICATION_REPORT.md
  docs/DATA_FETCHING_ANALYSIS.md
  docs/DEPLOYMENT.md
  docs/DOCKER_SETUP_README.md
  docs/INTEGRATION_TEST_FILES.md
  docs/INTEGRATION_TEST_SUMMARY.md
  docs/JSDOC_ADMIN_DOCUMENTATION_SUMMARY.md
  docs/MASTER_AGENT_CONSOLIDATION_REPORT.md
  docs/MEDICATIONS_MIGRATION_REPORT.md
  docs/NEXTJS_MIGRATION_COMPLETE.md
  docs/PERFORMANCE_OPTIMIZATION_IMPLEMENTATION.md
  docs/PERFORMANCE_OPTIMIZATION_REPORT.md
  docs/PRODUCTION_DEPLOYMENT_SUMMARY.md
  docs/QUICK_TEST_REFERENCE.md
  docs/README-DOCUMENTS-FORMS-MIGRATION.md
  docs/README-FORMS-MIGRATION.md
Due: prettier --write

Move agent generated scripts from root to scripts/
  scripts/check_user.sql
  scripts/create_test_user.sql
  scripts/create_test_user_hashed.sql
  scripts/final-connectivity-test.js
  scripts/test-auth-api.js
  scripts/test-bcrypt.js
  scripts/test-login-detailed.js
  scripts/test-login-with-users-table.js
  scripts/test-nextjs-auth.js
  scripts/update_password.sql
Due: eslint --fix, prettier --write

Remove old files from root directory after reorganization
  APPOINTMENTS-MIGRATION-SUMMARY.md
  DOCKER_SETUP_README.md
  INTEGRATION_TEST_FILES.md
  NEXTJS_MIGRATION_COMPLETE.md
  PRODUCTION_DEPLOYMENT_SUMMARY.md
  QUICK_TEST_REFERENCE.md
  create_test_user_hashed.sql
  final-connectivity-test.js
  test-bcrypt.js
  test-login-with-users-table.js
  test-nextjs-auth.js
Due: eslint --fix, prettier --write

Add GraphQL dependencies and infrastructure services documentation
  nestjs-backend/INFRASTRUCTURE_SERVICES_README.md
  nestjs-backend/package-lock.json
  nestjs-backend/package.json
Due: prettier --write

mkm
  nestjs-backend/src/shared/base/BaseService.ts
Due: eslint --fix, prettier --write
