Repository harborgrid-justin/white-cross: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

nhnh
  frontend/src/hooks/domains/documents/mutations/useDocumentMutations.ts
  frontend/src/hooks/domains/documents/queries/useDocumentQueries.ts
  frontend/src/hooks/domains/purchase-orders/composites/usePurchaseOrderComposites.ts
  frontend/src/hooks/domains/purchase-orders/config.ts
  frontend/src/hooks/domains/purchase-orders/index.ts
  frontend/src/hooks/domains/purchase-orders/mutations/usePurchaseOrderMutations.ts
  frontend/src/hooks/domains/purchase-orders/queries/usePurchaseOrderQueries.ts
  frontend/src/hooks/index.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

dac
  frontend/src/hooks/domains/documents/composites/useDocumentComposites.ts
  frontend/src/hooks/domains/documents/index.ts
  frontend/src/hooks/domains/documents/mutations/useDocumentMutations.ts
  frontend/src/hooks/domains/emergency/composites/useEmergencyComposites.ts
  frontend/src/hooks/domains/emergency/config.ts
  frontend/src/hooks/domains/emergency/mutations/useEmergencyMutations.ts
  frontend/src/hooks/domains/emergency/queries/useEmergencyQueries.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

nhn
  frontend/src/hooks/domains/emergency/index.ts
  frontend/src/hooks/domains/health/config.ts
  frontend/src/hooks/domains/health/queries/useHealthQueries.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

mkf
  frontend/src/services/audit/AuditService.ts
  frontend/src/services/audit/config.ts
  frontend/src/services/audit/index.ts
  frontend/src/services/audit/types.ts
  frontend/src/services/modules/AdministrationService.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

123
  BE_TEMPLATE.md
Due: prettier --write

Complete Task A6T3CH critical path: Break circular dependency and fix HIPAA compliance issues
  frontend/src/services/cache/CacheManager.ts
  frontend/src/services/core/ApiClient.ts
  frontend/src/services/security/SecureTokenManager.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

bgb
  backend/tests/load/medication-performance.test.ts
  backend/tests/powershell/IMPLEMENTATION_SUMMARY.md
  backend/tests/powershell/README.md
  backend/tests/powershell/TEST_EXECUTION_GUIDE.md
  backend/tests/powershell/appointments-endpoints.ps1
  backend/tests/powershell/audit-endpoints.ps1
  backend/tests/powershell/auth-endpoints.ps1
  backend/tests/powershell/common-utils.ps1
  backend/tests/powershell/health-records-endpoints.ps1
  backend/tests/powershell/medications-endpoints.ps1
  backend/tests/powershell/results/README.md
  backend/tests/powershell/run-all-tests.ps1
  backend/tests/powershell/students-endpoints.ps1
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

,,lkl
  .claude/settings.local.json
  backend/src/routes/v1/RESPONSE_SCHEMAS.ts
  backend/src/routes/v1/analytics/index.ts
  backend/src/routes/v1/analytics/routes/analytics.routes.ts
  backend/src/routes/v1/communication/routes/messaging.routes.ts
  backend/src/routes/v1/communications/routes/broadcasts.routes.ts
  backend/src/routes/v1/communications/routes/messages.routes.ts
  backend/src/routes/v1/compliance/routes/audit.routes.ts
  backend/src/routes/v1/compliance/routes/compliance.routes.ts
  backend/src/routes/v1/compliance/schemas/audit.response.schemas.ts
  backend/src/routes/v1/compliance/schemas/compliance.response.schemas.ts
  backend/src/routes/v1/core/index.ts
  backend/src/routes/v1/core/routes/auth.routes.ts
  backend/src/routes/v1/core/routes/health.routes.ts
  backend/src/routes/v1/healthcare/routes/healthAssessments.routes.ts
  backend/src/routes/v1/healthcare/routes/healthRecords.routes.ts
  backend/src/routes/v1/healthcare/routes/medications.routes.ts
  backend/src/routes/v1/healthcare/schemas/healthAssessments.response.schemas.ts
  backend/src/routes/v1/healthcare/schemas/healthRecords.response.schemas.ts
  backend/src/routes/v1/healthcare/schemas/medications.response.schemas.ts
  backend/src/routes/v1/system/routes/authentication.routes.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

565
  .claude/settings.local.json
  backend/check-and-create-tables.js
  backend/create-access-control-tables.js
  backend/fix-user-roles-table.sql
  backend/sync-all-models.js
Due: eslint --fix, prettier --write

feat: Comprehensive backend-frontend schema synchronization
  TYPE-CHECK-SUMMARY.md
  VALIDATION_SYNC_SUMMARY.md
  backend/src/routes/v1/healthcare/validators/medications.validators.ts
  frontend/src/pages/dashboard/components/RealDataIntegrationExample.tsx
  frontend/src/types/accessControl.ts
  frontend/src/types/administration.ts
  frontend/src/types/api.ts
  frontend/src/types/appointments.ts
  frontend/src/types/budget.ts
  frontend/src/types/common.ts
  frontend/src/types/communication.ts
  frontend/src/types/compliance.ts
  frontend/src/types/documents.ts
  frontend/src/types/healthRecords.ts
  frontend/src/types/incidents.ts
  frontend/src/types/integrations.ts
  frontend/src/types/inventory.ts
  frontend/src/types/medications.ts
  frontend/src/types/purchaseOrders.ts
  frontend/src/types/student.types.ts
  frontend/src/types/vendors.ts
  frontend/src/validation/healthRecordSchemas.ts
  frontend/src/validation/index.ts
  frontend/src/validation/medicationSchemas.ts
  frontend/src/validation/studentSchemas.ts
  frontend/src/validation/userSchemas.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

feat: Comprehensive frontend services audit and repair with 10 specialized agents
  API_SPECIFICATION_AUDIT_REPORT.md
  FRONTEND_SERVICES_AUDIT_SUMMARY.md
  frontend/src/components/development/navigation/examples.tsx
  frontend/src/constants/api.ts
  frontend/src/services/modules/authApi.ts
  frontend/src/services/modules/communicationsApi.ts
  frontend/src/services/modules/contactsApi.ts
  frontend/src/services/modules/mfaApi.ts
  frontend/src/services/modules/studentManagementApi.ts
  frontend/src/services/modules/systemApi.ts
  frontend/src/services/modules/vendorApi.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

feat: Complete Phase 1-3 implementation with 8 specialized agents - 90+ endpoints
  PHASE_1-3_COMPLETION_SUMMARY.md
  frontend/src/services/modules/analyticsApi.ts
  frontend/src/services/modules/communicationsApi.ts
  frontend/src/services/modules/documentsApi.ts
  frontend/src/services/modules/healthAssessmentsApi.ts
  frontend/src/services/modules/healthRecordsApi.ts
  frontend/src/services/modules/incidentReportsApi.ts.deprecated
  frontend/src/services/modules/incidentsApi.ts
  frontend/src/services/modules/inventoryApi.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

feat: Add comprehensive Docker infrastructure for Playwright E2E testing
  .env.docker.example
  .gitignore
  DOCKER-QUICK-START.md
  DOCKER.md
  Dockerfile.playwright
  backend/.dockerignore
  backend/Dockerfile
  backend/docker-entrypoint.sh
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.test.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
  scripts/wait-for-it.sh
Due: prettier --write

fix: Resolve critical Playwright test infrastructure issues for 100% test coverage
  PLAYWRIGHT_TEST_FIXES.md
  backend/src/routes/v1/core/controllers/auth.controller.ts
  backend/src/routes/v1/core/routes/auth.routes.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/layout/Navigation.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/shared/security/SessionWarning.tsx
  frontend/src/components/ui/theme/DarkModeToggle.tsx
  frontend/src/pages/auth/Login.tsx
  frontend/src/pages/auth/components/LoginForm.tsx
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

feat: Add screenshot infrastructure and directory organization
  .screenshots/2025-10-24-01/README.md
  .screenshots/2025-10-24-01/SUMMARY.md
  .screenshots/2025-10-24-01/routes-manifest.json
  .screenshots/capture-all-pages.ts
  frontend/capture-screenshots.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

fix: Critical accessibility and dark mode improvements
  frontend/src/components/ui/feedback/Alert.tsx
  frontend/src/components/ui/inputs/Select.tsx
  frontend/src/components/ui/overlays/Modal.tsx
  frontend/src/tailwind.css
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

docs: Add comprehensive code review reports
  frontend/FRONTEND_PERFORMANCE_REVIEW.md
  frontend/TESTING_REVIEW_REPORT.md
Due: prettier --write

123
  docs/2025-10-24-01/API_SPECIFICATION_AUDIT_REPORT.md
  docs/2025-10-24-01/CYPRESS_REMOVAL_COMPLETE.md
  docs/2025-10-24-01/CYPRESS_TO_PLAYWRIGHT_MIGRATION_COMPLETE.md
  docs/2025-10-24-01/DASHBOARD_COMPONENTS_SUMMARY.md
  docs/2025-10-24-01/DOCKER-QUICK-START.md
  docs/2025-10-24-01/DOCKER.md
  docs/2025-10-24-01/FRONTEND_SERVICES_AUDIT_SUMMARY.md
  docs/2025-10-24-01/MISSION_COMPLETE_REPORT.md
  docs/2025-10-24-01/PHASE_1-3_COMPLETION_SUMMARY.md
  docs/2025-10-24-01/PLAYWRIGHT_TEST_FIXES.md
  docs/2025-10-24-01/STATE_MGMT_SUMMARY.md
  docs/2025-10-24-01/TYPE-CHECK-SUMMARY.md
  docs/2025-10-24-01/UI-UX-OVERHAUL-SUMMARY.md
  docs/2025-10-24-01/VALIDATION_SYNC_SUMMARY.md
Due: prettier --write

1234
  .claude/settings.local.json
  backend/package.json
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/domains/medications/mutations/useMedicationAdministrationService.ts
  frontend/src/hooks/domains/medications/mutations/useMedicationFormValidation.ts
  frontend/src/hooks/domains/medications/types/api.ts
  frontend/src/hooks/domains/medications/types/medications.ts
  frontend/src/pages/inventory/components/index.ts
  frontend/src/services/modules/analyticsApi.ts
  frontend/src/services/modules/appointmentsApi.ts
  frontend/src/services/modules/auditApi.ts
  frontend/src/services/modules/medicationsApi.ts
  frontend/src/types/analytics.ts
  frontend/src/types/index.ts
  package-lock.json
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

fgfg
  backend/package-lock.json
  frontend/src/pages/students/store/studentsSlice.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

dfd
  .claude/settings.local.json
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  docker-compose.dev.yml
  frontend/package.json
  frontend/src/pages/incidents/store/incidentReportsSlice.ts
  frontend/src/services/modules/accessControlApi.ts
  frontend/src/services/modules/broadcastsApi.ts
  frontend/src/services/modules/complianceApi.ts
  frontend/src/services/modules/dashboardApi.ts
  frontend/src/services/modules/healthAssessmentsApi.ts
  frontend/src/services/modules/integrationApi.ts
  frontend/src/services/modules/medication/api/AdministrationApi.ts
  frontend/src/services/modules/medication/api/MedicationFormularyApi.ts
  frontend/src/services/modules/medication/api/PrescriptionApi.ts
  frontend/src/services/modules/medication/api/index.ts
  frontend/src/services/modules/messagesApi.ts
  frontend/src/services/modules/studentManagementApi.ts
  frontend/src/services/modules/usersApi.ts
  frontend/src/stores/shared/api/index.ts
  frontend/src/stores/shared/api/verifyIntegration.ts
  frontend/src/stores/slices/incidentReportsSlice.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

Add comprehensive CRUD operations validation report
  docs/crud-validation/README.md
  docs/crud-validation/architecture-notes-R3A7C9.md
  docs/crud-validation/architecture-notes.md
  docs/crud-validation/checklist-R3A7C9.md
  docs/crud-validation/checklist.md
  docs/crud-validation/completed/api-validation-report-A7K9M2.md
  docs/crud-validation/completed/completion-summary-A7K9M2.md
  docs/crud-validation/completed/progress-A7K9M2.md
  docs/crud-validation/completed/task-status-A7K9M2.json
  docs/crud-validation/crud-inventory.md
  docs/crud-validation/integration-map-R3A7C9.json
  docs/crud-validation/master-report.md
  docs/crud-validation/plan-R3A7C9.md
  docs/crud-validation/plan.md
  docs/crud-validation/progress-R3A7C9.md
  docs/crud-validation/progress.md
  docs/crud-validation/task-status-R3A7C9.json
  docs/crud-validation/task-status-final.json
  docs/crud-validation/task-status.json
Due: prettier --write

Phase 1 & 2: Complete Students, Incidents, Health Records CRUD operations
  frontend/src/App.tsx
  frontend/src/components/features/health-records/components/modals/AllergyModal.tsx
  frontend/src/components/features/health-records/components/modals/ConditionModal.tsx
  frontend/src/components/features/health-records/components/modals/ScreeningModal.tsx
  frontend/src/components/features/health-records/components/modals/VitalSignsModal.tsx
  frontend/src/constants/healthRecords.ts
  frontend/src/hooks/domains/health-records/useHealthRecords.ts
  frontend/src/pages/health/HealthRecords.tsx
  frontend/src/pages/incidents/IncidentReports.tsx
  frontend/src/pages/students/StudentHealthRecords.tsx
  frontend/src/pages/students/Students.tsx
  frontend/src/stores/shared/api/verifyIntegration.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  bash -c 'cd backend && tsc --noEmit': any of: backend/**/*.ts
  bash -c 'cd frontend && tsc --noEmit': any of: frontend/**/*.{ts,tsx}
