Repository harborgrid-justin/white-cross: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "backend/**/*.ts": [
    "bash -c 'cd backend && tsc --noEmit'"
  ],
  "frontend/**/*.{ts,tsx}": [
    "bash -c 'cd frontend && tsc --noEmit'"
  ]
}

gfgf
  backend/src/app.module.ts
  backend/src/database/database.module.ts
  backend/src/database/models/emergency-broadcast.model.ts
  backend/src/database/repositories/impl/emergency-broadcast.repository.ts
  backend/src/database/repositories/impl/student.repository.ts
  backend/src/emergency-broadcast/emergency-broadcast.module.ts
  backend/src/health-record/vaccination/vaccination.module.ts
  backend/src/middleware/core/core-middleware.module.ts
  backend/src/shared/cache/cache.service.ts
  backend/src/workers/worker-pool.service.ts
  backend/src/workers/workers.module.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

mkm
  backend/package-lock.json
  backend/package.json
  backend/src/database/database.module.ts
  backend/src/emergency-broadcast/emergency-broadcast.module.ts
  backend/src/main.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

fdfd
  .gitignore
  SWAGGER_IMPLEMENTATION_AUDIT_REPORT.md
  backend/src/advanced-features/advanced-features.controller.ts
  backend/src/ai-search/ai-search.controller.ts
  backend/src/app.controller.ts
  backend/src/budget/budget.controller.ts
  backend/src/clinical/controllers/clinical-note.controller.ts
  backend/src/clinical/controllers/clinical-protocol.controller.ts
  backend/src/clinical/controllers/vital-signs.controller.ts
  backend/src/communication/controllers/communication.controller.ts
  backend/src/configuration/configuration.controller.ts
  backend/src/document/document.controller.ts
  backend/src/emergency-broadcast/dto/create-emergency-broadcast.dto.ts
  backend/src/emergency-broadcast/emergency-broadcast.controller.ts
  backend/src/enterprise-features/enterprise-features.controller.ts
  backend/src/health-metrics/health-metrics.controller.ts
  backend/src/incident-report/incident-report.controller.ts
  backend/src/inventory/inventory.controller.ts
  backend/src/main.ts
  backend/src/medication-interaction/medication-interaction.controller.ts
  backend/src/medication/medication.controller.ts
  backend/src/report/controllers/reports.controller.ts
  backend/src/security/security.controller.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

1234
  backend/src/database/models/chronic-condition.model.ts
  backend/src/database/models/drug-catalog.model.ts
  backend/src/database/models/drug-interaction.model.ts
  backend/src/database/models/incident-report.model.ts
  backend/src/database/models/student.model.ts
  backend/src/database/models/vaccination.model.ts
  backend/src/health-record/vaccination/vaccination.module.ts
  backend/src/health-record/vaccination/vaccination.service.ts
  backend/src/incident-report/dto/index.ts
  backend/src/incident-report/dto/update-witness-statement.dto.ts
  backend/src/incident-report/incident-report.module.ts
  backend/src/incident-report/services/incident-core.service.ts
  backend/src/incident-report/services/incident-follow-up.service.ts
  backend/src/incident-report/services/incident-notification.service.ts
  backend/src/incident-report/services/incident-statistics.service.ts
  backend/src/incident-report/services/incident-witness.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

feat: Add comprehensive backend implementations via 5 specialized agents
  JSDOC_WORK_SUMMARY.md
  backend/src/academic-transcript/academic-transcript.service.ts
  backend/src/alerts/alerts.controller.ts
  backend/src/analytics/analytics.service.ts
  backend/src/database/migrations/20251029000000-add-academic-mental-health-alert-tables.ts
  backend/src/database/models/academic-transcript.model.ts
  backend/src/database/models/alert-rule.model.ts
  backend/src/database/models/mental-health-record.model.ts
  backend/src/database/models/student.model.ts
  backend/src/database/repositories/impl/academic-transcript.repository.ts
  backend/src/database/repositories/impl/alert-rule.repository.ts
  backend/src/emergency-broadcast/emergency-broadcast.module.ts
  backend/src/emergency-broadcast/emergency-broadcast.service.ts
  backend/src/incident-report/services/incident-notification.service.ts
  backend/src/infrastructure/cache/cache.service.ts
  backend/src/infrastructure/email/email.service.ts
  backend/src/infrastructure/jobs/processors/inventory-maintenance.processor.ts
  backend/src/infrastructure/monitoring/monitoring.service.ts
  backend/src/routes/v1/healthcare/healthcare.module.ts
  backend/src/routes/v1/healthcare/medications.controller.ts
  backend/src/routes/v1/v1-routes.module.ts
  backend/src/student/student.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

feat: Complete TypeORM to Sequelize migration with 6 specialized agents
  DATABASE_MIGRATION_SUMMARY.md
  backend/.env.example
  backend/.sequelizerc
  backend/DATABASE_CONFIGURATION.md
  backend/config/sequelize.js
  backend/package.json
  backend/scripts/check-database-health.sh
  backend/scripts/setup-database.sh
  backend/src/common/database/hooks/encryption.hooks.ts
  backend/src/common/database/transformers/encrypted.transformer.ts
  backend/src/database/config/database.config.ts
  backend/src/database/database.module.ts
  backend/src/database/models/README.md
  backend/src/database/models/index.ts
  backend/src/database/models/user.model.ts
  backend/src/database/repositories/README.md
  backend/src/database/repositories/base/base.repository.ts
  backend/src/database/types/index.ts
  backend/src/database/types/sequelize-helpers.ts
  backend/src/grade-transition/grade-transition.service.ts
  backend/src/health-record/health-record.service.ts
  backend/src/incident-report/services/incident-validation.service.ts
  backend/src/infrastructure/monitoring/monitoring.service.ts
  backend/src/inventory/services/alerts.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

fffa
  backend/.env.example.bak
  backend/.env.performance
  backend/.env.swagger-enhanced
  backend/src/database/models/alert-preferences.model.ts
  backend/src/database/models/alert.model.ts
  backend/src/database/models/core/EmergencyContact.ts.bak
  backend/src/database/models/delivery-log.model.ts
  backend/src/index.ts.bak
  backend/src/integration/entities/index.ts
  backend/src/integration/entities/sync-conflict.entity.ts
  backend/src/inventory/services/alerts.service.ts
  backend/src/migrations/20251009013303-enhance-system-configuration.js.bak
  backend/src/migrations/20251010000000-complete-health-records-schema.js.bak
  backend/src/migrations/20251011000000-performance-indexes.js.bak
  backend/src/routes/shared/types/route.types.ts.bak
  backend/src/routes/v1/core/controllers/users.controller.ts.bak
  backend/src/student/dto/search-photo.dto.ts
  backend/src/student/student-sequelize.service.ts
  backend/src/student/student.controller.ts
  backend/src/student/student.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

fix: Complete missing repository implementations and fix module imports
  backend/.claude/settings.local.json
  backend/src/analytics/analytics.module.ts
  backend/src/database/database.module.ts
  backend/src/database/repositories/impl/incident-report.repository.ts
  backend/src/database/repositories/impl/medication-log.repository.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

15121
  backend/.claude/settings.local.json
  backend/src/database/models/allergy.model.ts
  backend/src/database/models/appointment.model.ts
  backend/src/database/models/incident-report.model.ts
  backend/src/database/models/student-medication.model.ts
  backend/src/database/models/student.model.ts
  backend/src/infrastructure/jobs/jobs.module.ts
  backend/src/user/entities/user.entity.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

1234
  backend/.claude/settings.local.json
  backend/src/database/models/student.model.ts
  backend/src/security/entities/ip-restriction.entity.ts
  backend/src/security/entities/security-incident.entity.ts
  backend/src/student/student.service.ts
  backend/src/user/entities/user.entity.ts
  backend/swagger-spec.json
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

123
  backend/add-missing-columns.sql
  backend/src/database/database.module.ts
  backend/src/database/models/user.model.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

feat: complete E2E encryption and queue processor integrations
  .temp/architecture-notes-E2E9C7.md
  .temp/architecture-notes-WE6T9P.md
  .temp/checklist-E2E9C7.md
  .temp/checklist-QI4M7X.md
  .temp/checklist-QP4K7X.md
  .temp/checklist-WE6T9P.md
  .temp/integration-map-E2E9C7.json
  .temp/plan-E2E9C7.md
  .temp/plan-QI4M7X.md
  .temp/plan-QP4K7X.md
  .temp/plan-WE6T9P.md
  .temp/progress-E2E9C7.md
  .temp/progress-QI4M7X.md
  .temp/progress-QP4K7X.md
  .temp/progress-WE6T9P.md
  .temp/task-status-E2E9C7.json
  .temp/task-status-QI4M7X.json
  .temp/task-status-QP4K7X.json
  .temp/task-status-WE6T9P.json
  backend/src/communication/__tests__/encryption-integration.spec.ts
  backend/src/communication/helpers/queue-integration.helper.ts
  backend/src/infrastructure/queue/message-queue.module.ts
  backend/src/infrastructure/queue/message-queue.processor.complete.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

docs: add comprehensive integration completion summary
  INTEGRATION_COMPLETION_SUMMARY.md
Due: prettier --write

feat: complete database migration and queue integration with message service
  backend/src/communication/communication.module.ts
  backend/src/communication/controllers/enhanced-message.controller.ts
  backend/src/communication/services/enhanced-message.service.ts
  backend/src/database/migrations/20251029000000-add-encryption-fields-to-messages.js
  backend/src/database/models/message.model.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

feat: complete message queue integration with production configuration
  backend/.env.example
  backend/.sequelizerc
  backend/INTEGRATION_SUMMARY.md
  backend/docs/QUEUE_API_ENDPOINTS.md
  backend/package-lock.json
  backend/package.json
  backend/src/database/config/database.config.js
  backend/test-integration.js
Due: eslint --fix, prettier --write

123
  backend/src/communication/controllers/enhanced-message.controller.ts
  backend/src/communication/dto/create-conversation.dto.ts
  backend/src/communication/dto/edit-message.dto.ts
  backend/src/communication/dto/send-direct-message.dto.ts
  backend/src/communication/dto/send-group-message.dto.ts
  backend/src/communication/dto/update-conversation.dto.ts
  backend/src/communication/helpers/queue-integration.helper.ts
  backend/src/communication/services/conversation.service.ts
  backend/src/communication/services/enhanced-message.service.ts
  backend/src/infrastructure/queue/dtos/message-job.dto.ts
  backend/src/infrastructure/queue/index.ts
  backend/src/infrastructure/queue/interfaces/index.ts
  backend/src/infrastructure/queue/message-queue.processor.complete.ts
  backend/src/infrastructure/queue/message-queue.processor.ts
  backend/src/infrastructure/queue/message-queue.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

1234
  frontend/src/components/features/broadcasts/tabs/BroadcastHistoryTab.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

rtrt
  backend/check-license-column.js
  backend/src/database/database.module.ts
  backend/src/database/models/drug-catalog.model.ts
  backend/src/database/models/system-config.model.ts
  backend/verify-foreign-key-fix.js
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

Implement Next.js 15 best practices across frontend
  frontend/docs/AGENT_6_IMPLEMENTATION_SUMMARY.md
  frontend/docs/PERFORMANCE_MONITORING_REPORT.md
  frontend/docs/PERFORMANCE_QUICK_START.md
  frontend/src/actions/students.actions.ts
  frontend/src/app/(auth)/error.tsx
  frontend/src/app/(auth)/not-found.tsx
  frontend/src/app/(dashboard)/billing/error.tsx
  frontend/src/app/(dashboard)/communications/messages/[id]/page.tsx
  frontend/src/app/(dashboard)/documents/[id]/not-found.tsx
  frontend/src/app/(dashboard)/forms/error.tsx
  frontend/src/app/(dashboard)/incidents/[id]/page.tsx
  frontend/src/app/(dashboard)/medications/[id]/not-found.tsx
  frontend/src/app/(dashboard)/not-found.tsx
  frontend/src/app/admin/error.tsx
  frontend/src/app/admin/not-found.tsx
  frontend/src/app/layout.tsx
  frontend/src/components/auth/ProtectedRoute.tsx
  frontend/src/components/layouts/Sidebar.tsx
  frontend/src/components/monitoring/WebVitalsReporter.tsx
  frontend/src/components/ui/navigation/Breadcrumbs.tsx
  frontend/src/hooks/utilities/routeValidation.ts
  frontend/src/hooks/utilities/useRefresh.ts
  frontend/src/hooks/utilities/useRouteState.ts
  frontend/src/lib/api/nextjs-client.ts
  frontend/src/middleware/audit.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'
