Repository harborgrid-justin/white-cross: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

1234
  LOGIN_FLOW_TRACE.txt
  LOGIN_FLOW_VERIFICATION_REPORT.md
  LOGIN_VERIFICATION_SUMMARY.txt
  backend/src/app.module.ts
  backend/src/infrastructure/monitoring/health.controller.ts
  backend/src/middleware/security/csrf.guard.ts
  frontend/middleware.ts
  frontend/next.config.ts
  frontend/src/constants/api.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

mkmkmk
  backend/src/app.module.ts
  backend/src/audit/audit.controller.ts
  backend/src/audit/dto/create-audit-log.dto.ts
  backend/src/audit/dto/create-phi-access-log.dto.ts
  backend/src/audit/dto/index.ts
  backend/src/vaccinations/vaccinations.controller.ts
  backend/src/vaccinations/vaccinations.module.ts
  backend/src/vaccinations/vaccinations.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

123456
  frontend/src/lib/actions/dashboard.statistics.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

Add 25 production-ready clinic composite files for school clinic SaaS
  reuse/clinic/composites/admin-workflow-api-composites.ts
  reuse/clinic/composites/appointment-scheduling-composites.ts
  reuse/clinic/composites/audit-compliance-composites.ts
  reuse/clinic/composites/automated-workflow-composites.ts
  reuse/clinic/composites/clinic-analytics-composites.ts
  reuse/clinic/composites/clinic-analytics-queries-composites.ts
  reuse/clinic/composites/clinic-workflow-orchestration-composites.ts
  reuse/clinic/composites/compliance-reporting-composites.ts
  reuse/clinic/composites/data-aggregation-composites.ts
  reuse/clinic/composites/data-archival-queries-composites.ts
  reuse/clinic/composites/emergency-response-composites.ts
  reuse/clinic/composites/health-records-queries-composites.ts
  reuse/clinic/composites/health-screening-composites.ts
  reuse/clinic/composites/immunization-management-composites.ts
  reuse/clinic/composites/integration-api-composites.ts
  reuse/clinic/composites/inventory-management-queries-composites.ts
  reuse/clinic/composites/medical-records-access-composites.ts
  reuse/clinic/composites/medication-administration-composites.ts
  reuse/clinic/composites/monitoring-alerting-composites.ts
  reuse/clinic/composites/nurse-workflow-api-composites.ts
  reuse/clinic/composites/parent-communications-composites.ts
  reuse/clinic/composites/parent-portal-api-composites.ts
  reuse/clinic/composites/patient-care-services-composites.ts
  reuse/clinic/composites/security-api-composites.ts
  reuse/clinic/composites/visit-tracking-queries-composites.ts
Due: eslint --fix, prettier --write

jfjf
  REGISTRATION_IMPLEMENTATION_SUMMARY.md
  backend/src/auth/__tests__/auth.service.spec.ts
  backend/src/auth/auth.service.ts
  backend/src/auth/dto/register.dto.ts
  backend/src/auth/services/oauth.service.ts
  backend/src/database/migrations/20250103000000-create-base-schema.js
  backend/src/database/models/user.model.ts
  backend/src/migrations/20250103000000-create-base-schema.js
  backend/src/user/entities/user.entity.ts
  frontend/src/app/api-test/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/register/page.tsx
  frontend/src/identity-access/lib/config/api.ts
  frontend/src/identity-access/services/authApi.ts
  frontend/src/services/core/ApiClient.interceptors.ts
  frontend/src/services/core/ApiClient.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

Add 25 production-ready clinic composite files for school clinic SaaS
  reuse/clinic/composites/administrative-operations-composites.ts
  reuse/clinic/composites/chronic-condition-management-composites.ts
  reuse/clinic/composites/clinic-quality-improvement-composites.ts
  reuse/clinic/composites/clinic-reporting-analytics-composites.ts
  reuse/clinic/composites/clinic-staffing-workflow-composites.ts
  reuse/clinic/composites/clinic-supply-inventory-composites.ts
  reuse/clinic/composites/consent-privacy-compliance-composites.ts
  reuse/clinic/composites/dental-vision-screening-composites.ts
  reuse/clinic/composites/emergency-disaster-response-composites.ts
  reuse/clinic/composites/health-education-prevention-composites.ts
  reuse/clinic/composites/health-records-documentation-composites.ts
  reuse/clinic/composites/incident-injury-tracking-composites.ts
  reuse/clinic/composites/infectious-disease-management-composites.ts
  reuse/clinic/composites/mental-health-support-composites.ts
  reuse/clinic/composites/multi-language-accessibility-composites.ts
  reuse/clinic/composites/nurse-case-management-composites.ts
  reuse/clinic/composites/nutrition-food-allergy-composites.ts
  reuse/clinic/composites/parent-guardian-portal-composites.ts
  reuse/clinic/composites/professional-development-training-composites.ts
  reuse/clinic/composites/special-needs-healthcare-composites.ts
  reuse/clinic/composites/sports-athletics-health-composites.ts
  reuse/clinic/composites/student-health-assessment-composites.ts
  reuse/clinic/composites/student-wellness-programs-composites.ts
  reuse/clinic/composites/telemedicine-virtual-care-composites.ts
  reuse/clinic/composites/third-party-integration-composites.ts
Due: eslint --fix, prettier --write

Add comprehensive security infrastructure and improve production quality for clinic composites
  reuse/clinic/composites/SECURITY.md
  reuse/clinic/composites/admin-workflow-api-composites.ts
  reuse/clinic/composites/appointment-scheduling-composites.ts
  reuse/clinic/composites/audit-compliance-composites.ts
  reuse/clinic/composites/data-archival-queries-composites.ts
  reuse/clinic/composites/medication-administration-composites.ts
  reuse/clinic/composites/patient-care-services-composites.ts
  reuse/clinic/composites/security-guards.ts
  reuse/clinic/composites/security-utils.ts
Due: eslint --fix, prettier --write

Complete comprehensive production quality improvements across all clinic composites
  ERROR_HANDLING_IMPROVEMENTS.md
  SWAGGER_DOCUMENTATION_GUIDE.md
  reuse/clinic/composites/NESTJS_IMPROVEMENTS_SUMMARY.md
  reuse/clinic/composites/SECURITY_IMPROVEMENTS_REPORT.md
  reuse/clinic/composites/SEQUELIZE_OPTIMIZATION_REPORT.md
  reuse/clinic/composites/appointment-scheduling-composites.ts
  reuse/clinic/composites/audit-compliance-composites.ts
  reuse/clinic/composites/data-archival-queries-composites.ts
  reuse/clinic/composites/medication-administration-composites.ts
  reuse/clinic/composites/patient-care-services-composites.ts
  reuse/clinic/composites/shared-types.ts
Due: eslint --fix, prettier --write

1423546
  frontend/src/app/(dashboard)/settings/profile/_components/Certifications.tsx
  frontend/src/app/(dashboard)/settings/profile/_components/ContactInformation.tsx
  frontend/src/app/(dashboard)/settings/profile/_components/EmergencyContact.tsx
  frontend/src/app/(dashboard)/settings/profile/_components/PersonalInformation.tsx
  frontend/src/app/(dashboard)/settings/profile/_components/Preferences.tsx
  frontend/src/app/(dashboard)/settings/profile/_components/ProfileContent.tsx
  frontend/src/app/(dashboard)/settings/profile/_components/ProfileHeader.tsx
  frontend/src/app/(dashboard)/settings/profile/_components/RecentActivity.tsx
  frontend/src/app/(dashboard)/settings/profile/_components/index.ts
  frontend/src/components/pages/Billing/BillingDetail.tsx
  frontend/src/components/pages/Billing/BillingDetail/OverviewTab.tsx
  frontend/src/components/pages/Billing/BillingDetail/PaymentsTab.tsx
  frontend/src/components/pages/Billing/BillingDetail/ServicesTab.tsx
  frontend/src/components/pages/Billing/BillingDetail/types.ts
  frontend/src/components/pages/Billing/BillingDetail/utils.ts
  frontend/src/identity-access/stores/accessControl/index.ts
  frontend/src/identity-access/stores/accessControl/selectors.ts
  frontend/src/identity-access/stores/accessControl/state.ts
  frontend/src/identity-access/stores/accessControl/thunks/incidentsThunks.ts
  frontend/src/identity-access/stores/accessControl/thunks/permissionsThunks.ts
  frontend/src/identity-access/stores/accessControl/thunks/rolesThunks.ts
  frontend/src/identity-access/stores/accessControl/thunks/sessionsThunks.ts
  frontend/src/identity-access/stores/accessControlSlice.ts
  frontend/src/services/security/SecureTokenManager.ts
  frontend/src/services/security/tokenManager/activityTracker.ts
  frontend/src/services/security/tokenManager/index.ts
  frontend/src/services/security/tokenManager/migration.ts
  frontend/src/services/security/tokenManager/storage.ts
  frontend/src/services/security/tokenManager/types.ts
  frontend/src/services/security/tokenManager/validation.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

123456
  frontend/src/components/pages/Reports/components/ScheduleCard.tsx
  frontend/src/components/pages/Reports/types.ts
  frontend/src/config/navigation/index.ts
  frontend/src/config/navigation/quickAccess.ts
  frontend/src/config/navigation/sections.ts
  frontend/src/config/navigation/utils.ts
  frontend/src/config/navigationConfig.ts
  frontend/src/services/cache/CacheManager.ts
  frontend/src/services/core/ApiClient.ts
  frontend/src/services/core/QueryHooksFactory.ts
  frontend/src/services/modules/administrationApi.ts
  frontend/src/services/modules/administrationApi/administrationApi.ts
  frontend/src/services/modules/administrationApi/core-operations.ts
  frontend/src/services/modules/administrationApi/index.ts
  frontend/src/services/modules/administrationApi/specialized-operations.ts
  frontend/src/services/modules/administrationApi/types.ts
  frontend/src/services/modules/administrationApi/validation.ts
  frontend/src/services/modules/systemApi.ts
  frontend/src/services/websocket/WebSocketService.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

8989
  frontend/src/ARCHITECTURE_BOUNDARIES.md
  frontend/src/lib/api-client.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/cache/config.ts
  frontend/src/lib/cache/index.ts
  frontend/src/lib/security/index.ts
  frontend/src/lib/server/queries.ts
  frontend/src/services/cache/CacheService.ts
  frontend/src/services/cache/index.ts
  frontend/src/services/index.ts.backup-20251023-152936
  frontend/src/services/monitoring/ErrorTrackingManager.ts
  frontend/src/services/monitoring/MonitoringService.ts
  frontend/src/services/monitoring/SentryManager.ts
  frontend/src/services/monitoring/index.ts
  frontend/src/services/monitoring/types.ts
  frontend/src/services/offline/BasicOfflineManager.ts
  frontend/src/services/offline/OfflineService.ts
  frontend/src/services/offline/index.ts
  frontend/src/services/offline/types.ts
  frontend/src/services/security/EncryptionManager.ts
  frontend/src/services/security/PHIManager.ts
  frontend/src/services/security/SanitizationManager.ts
  frontend/src/services/security/SecurityConfigManager.ts
  frontend/src/services/security/SecurityService.ts
  frontend/src/services/security/index.ts
  frontend/src/services/security/types.ts
  frontend/src/services/socket/ConnectionManager.ts
  frontend/src/services/socket/EventManager.ts
  frontend/src/services/socket/MessageQueue.ts
  frontend/src/services/socket/SocketService.tsx
  frontend/src/services/socket/types.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

d
  frontend/src/services/socket/ConnectionManager.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

Refactor large backend files into maintainable modules (<400 lines each)
  backend/src/academic-transcript/interfaces/index.ts
  backend/src/academic-transcript/interfaces/performance-analytics.interface.ts
  backend/src/academic-transcript/interfaces/transcript-report.interface.ts
  backend/src/academic-transcript/services/gpa-calculator.service.ts
  backend/src/academic-transcript/services/transcript-query.service.ts
  backend/src/common/types/api-response.types.ts
  backend/src/common/types/functional.types.ts
  backend/src/common/types/pagination.types.ts
  backend/src/communication/types/index.ts
  backend/src/communication/types/message-response.types.ts
  backend/src/dashboard/types/dashboard-models.interface.ts
  backend/src/dashboard/types/index.ts
  backend/src/health-record/import-export/import-export.service.ts.backup
  backend/src/health-record/import-export/types/import-export.types.ts
  backend/src/infrastructure/jobs/interfaces/medication-reminder.interface.ts
  backend/src/infrastructure/jobs/services/reminder-generator.service.ts
  backend/src/infrastructure/websocket/websocket.gateway.ts
  backend/src/middleware/monitoring/metrics.config.ts
  backend/src/middleware/monitoring/metrics.store.ts
  backend/src/middleware/monitoring/metrics.system-collector.ts
  backend/src/middleware/monitoring/metrics.types.ts
  backend/src/security/enhanced-security.service.ts
  backend/src/security/interfaces/security.interfaces.ts
  backend/src/security/services/audit.service.ts
  backend/src/security/services/encryption.service.ts
  backend/src/security/services/enhanced-threat-detection.service.ts
  backend/src/security/services/pii-detection.service.ts
  backend/src/shared/security/authentication.types.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

Remove refactored files (moved to directories)
  frontend/src/components/pages/Billing/BillingHeader.tsx
  frontend/src/services/modules/healthRecordsApi/types.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

12341324
  backend/src/analytics/specialized-report-generator.service.ts
  backend/src/common/shared/controller-utilities.ts
  backend/src/common/shared/service-utilities.ts
  backend/src/common/testing/test-utilities.ts
  backend/src/database/migrations/shared/migration-utilities.js
  backend/src/database/repositories/shared/base-repository-utilities.ts
  backend/src/infrastructure/graphql/dto/base/base-healthcare.dto.ts
  backend/src/infrastructure/graphql/dto/contact.dto.ts
  backend/src/infrastructure/graphql/dto/student.dto.ts
  backend/src/infrastructure/graphql/shared/resolver-utilities.ts
  backend/src/infrastructure/queue/base.processor.ts
  backend/src/infrastructure/queue/processors/batch-message.processor.ts
  backend/src/infrastructure/queue/processors/message-cleanup.processor.ts
  backend/src/infrastructure/queue/processors/message-delivery.processor.ts
  backend/src/infrastructure/queue/processors/message-encryption.processor.ts
  backend/src/infrastructure/queue/processors/message-indexing.processor.ts
  backend/src/infrastructure/queue/processors/message-notification.processor.ts
  backend/src/infrastructure/queue/shared/dto-validation-utilities.ts
  backend/src/infrastructure/websocket/listeners/appointment-events.listener.ts
  backend/src/infrastructure/websocket/listeners/appointment.listener.ts
  backend/src/infrastructure/websocket/listeners/base-websocket-event.listener.ts
  backend/src/infrastructure/websocket/services/message-handler.service.ts
  backend/src/infrastructure/websocket/shared/websocket-utilities.ts
  backend/src/middleware/adapters/base/base-http.adapter.ts
  backend/src/middleware/adapters/express/express.adapter.ts
  backend/src/middleware/adapters/hapi/hapi.adapter.ts
  backend/src/middleware/adapters/shared/adapter-utilities.ts
  backend/src/middleware/core/guards/base-authorization.guard.ts
  backend/src/middleware/core/guards/permissions.guard.ts
  backend/src/middleware/core/guards/rbac.guard.ts
  report/jscpd-report.json
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

123
  backend/src/audit/interceptors/audit.interceptor.ts
  backend/src/common/base/index.ts
  backend/src/discovery/interceptors/discovery-cache.interceptor.ts
  backend/src/discovery/interceptors/discovery-logging.interceptor.ts
  backend/src/discovery/interceptors/discovery-metrics.interceptor.ts
  backend/src/discovery/modules/interceptors/memory-pressure.interceptor.ts
  backend/src/discovery/modules/interceptors/resource-throttle.interceptor.ts
  backend/src/discovery/modules/interceptors/smart-cache.interceptor.ts
  backend/src/security/interceptors/security-logging.interceptor.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  bash -c 'cd backend && tsc --noEmit': any of: backend/**/*.ts
  bash -c 'cd frontend && tsc --noEmit': any of: frontend/**/*.{ts,tsx}
