Repository harborgrid-justin/white-cross: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

123456
  backend/src/database/models/performance-metric.model.ts
  backend/src/database/models/phi-disclosure-audit.model.ts
  backend/src/database/models/policy-acknowledgment.model.ts
  backend/src/database/models/report-execution.model.ts
  backend/src/database/models/sync-conflict.model.ts
  backend/src/database/models/user.model.ts.backup
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

123654
  backend/src/database/models/appointment-reminder.model.ts
  backend/src/database/models/appointment.model.ts
  backend/src/services/appointment/controllers/appointment-core.controller.ts
  backend/src/services/appointment/controllers/appointment-status.controller.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

123456
  backend/src/common/config/swagger.config.ts
  backend/src/database/models/appointment-reminder.model.ts
  backend/src/database/models/appointment.model.ts
  backend/src/enterprise-features/dto/reminders.dto.ts
  backend/src/health-domain/dto/create-allergy.dto.ts
  backend/src/health-domain/dto/update-allergy.dto.ts
  backend/src/health-domain/health-domain.controller.ts
  backend/src/health-domain/health-domain.service.ts
  backend/src/health-domain/services/health-domain-facade.service.ts
  backend/src/health-record/allergy/allergy.controller.ts
  backend/src/health-record/allergy/allergy.service.ts
  backend/src/health-record/allergy/dto/create-allergy.dto.ts
  backend/src/health-record/allergy/dto/update-allergy.dto.ts
  backend/src/health-record/health-record.service.ts
  backend/src/main.ts
  backend/src/services/allergy/allergy.controller.ts
  backend/src/services/allergy/dto/create-allergy.dto.ts
  backend/src/services/allergy/dto/update-allergy.dto.ts
  backend/src/services/allergy/services/allergy-crud.service.ts
  backend/src/services/allergy/services/allergy-safety.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

1324
  backend/package.json
  backend/src/commands/index.ts
  backend/src/commands/seed-admin.command.ts
  backend/src/database/seeds/admin.seed.ts
  backend/src/database/seeds/districts.seed.ts
  backend/src/database/seeds/incidents.seed.ts
  backend/src/database/seeds/index.ts
  backend/src/database/seeds/schools.seed.ts
  backend/src/database/seeds/students.seed.ts
  backend/src/scripts/simple-admin-login.ts
  backend/src/scripts/unlock-admin.ts
  frontend/package-lock.json
  jscpd-final-report.json/jscpd-report.json
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

sync
  backend/src/services/mobile/services/device-token.service.ts
  backend/src/services/mobile/services/notification-template.service.ts
  backend/src/services/mobile/services/offline-sync-conflict.service.ts
  backend/src/services/mobile/services/offline-sync-entity-registry.service.ts
  backend/src/services/mobile/services/offline-sync-queue.service.ts
  backend/src/services/mobile/services/offline-sync-watermark.service.ts
  backend/src/services/mobile/services/offline-sync.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

qewr
  backend/src/common/config/production-configuration-management.service.ts
  backend/src/common/exceptions/filters/hipaa-exception.filter.ts
  backend/src/services/auth/auth.service.spec.ts
  backend/src/services/auth/auth.service.ts
  backend/test/setup.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

adsfadf
  backend/src/services/dashboard/dashboard.service.comprehensive.spec.ts
  backend/src/services/student/services/student-academic.service.spec.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

dsaf
  backend/package-lock.json
  backend/package.json
  backend/src/common/config/production-configuration-management.service.ts
  backend/src/database/models/page-builder-component.model.ts
  backend/src/health-record/services/cache-warming.service.spec.ts
  backend/src/infrastructure/cache/cache-warming.service.ts
  backend/src/middleware/monitoring/__tests__/audit.interceptor.spec.ts
  backend/src/services/auth/guards/__tests__/roles.guard.spec.ts
  backend/src/services/auth/guards/roles.guard.spec.ts
  backend/src/services/mobile/services/device-token.service.ts
  backend/src/services/mobile/services/notification-template.service.ts
  backend/src/services/mobile/services/offline-sync-conflict.service.ts
  backend/src/services/mobile/services/offline-sync-entity-registry.service.ts
  backend/src/services/mobile/services/offline-sync-queue.service.ts
  backend/src/services/mobile/services/offline-sync-watermark.service.ts
  backend/src/services/mobile/services/offline-sync.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

54321
  backend/package.json
  backend/scripts/create-users-direct.js
  backend/scripts/create-users-simple.js
  backend/scripts/debug-auth.js
  backend/scripts/test-auth-flow.js
  backend/scripts/test-login-api.js
  backend/src/database/models/user.model.ts
  backend/src/database/seeds/admin.seed.ts
  backend/src/database/seeds/districts.seed.ts
  backend/src/database/seeds/health-records.seed.ts
  backend/src/database/seeds/incidents.seed.ts
  backend/src/database/seeds/index.ts
  backend/src/database/seeds/schools.seed.ts
  backend/src/database/seeds/students.seed.ts
  backend/src/scripts/check-users.ts
  backend/src/scripts/clear-users.ts
  backend/src/scripts/create-users.ts
  backend/src/services/auth/auth.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

hgj
  backend/package.json
  backend/scripts/clear-rate-limiting.js
  backend/scripts/unlock-users.js
Due: eslint --fix, prettier --write

123456
  AUTHENTICATION_ARCHITECTURE_SUMMARY.md
  backend/count-check.js
  backend/package-lock.json
  backend/package.json
  backend/src/database/seeders/20241115150000-health-records.js
  backend/src/scripts/check-database-counts.ts
  backend/src/scripts/seed-comprehensive-students.ts
  backend/src/scripts/seed-direct-students.ts
  backend/src/scripts/seed-robust-students.ts
  backend/src/scripts/seed-simple-students.ts
  backend/src/scripts/seed-students-only.ts
  backend/src/scripts/simple-count-check.ts
  frontend/src/app/(dashboard)/health-records/[id]/page.tsx
  frontend/src/app/(dashboard)/layout.tsx
  frontend/src/app/(dashboard)/settings/notifications/settings/page.tsx
  frontend/src/app/(dashboard)/students/[id]/emergency-contacts/error.tsx
  frontend/src/app/(dashboard)/students/[id]/emergency-contacts/layout.tsx
  frontend/src/app/(dashboard)/students/[id]/emergency-contacts/loading.tsx
  frontend/src/app/(dashboard)/students/[id]/emergency-contacts/new/loading.tsx
  frontend/src/app/(dashboard)/students/[id]/emergency-contacts/new/page.tsx
  frontend/src/app/(dashboard)/students/[id]/emergency-contacts/page.tsx
  frontend/src/app/(dashboard)/students/[id]/health-records/page.tsx
  frontend/src/app/access-denied/page.tsx
  frontend/src/app/api/students/[id]/emergency-contacts/route.ts
  frontend/src/app/api/students/[id]/health-summary/route.ts
  frontend/src/components/features/emergency-contacts/EmergencyContactForm.tsx
  frontend/src/components/features/emergency-contacts/index.ts
  frontend/src/hooks/domains/access-control/permission-checks.ts
  frontend/src/hooks/domains/access-control/permissions.ts
  frontend/src/hooks/domains/access-control/roles.ts
  frontend/src/identity-access/lib/session.ts
  frontend/src/identity-access/middleware/auth.ts
  frontend/src/lib/actions/appointments.cache.ts
  frontend/src/lib/actions/appointments.crud.ts
  frontend/src/lib/actions/health-records.crud.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/index.ts
  frontend/src/lib/services/health.ts
  frontend/src/stores/slices/settingsSlice.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

feat: Improve frontend production readiness with performance and accessibility enhancements
  frontend/gui/src/components/BuilderLayout.tsx
  frontend/gui/src/components/canvas/Canvas.tsx
  frontend/gui/src/components/canvas/CanvasComponent.tsx
  frontend/gui/src/components/properties/PropertyEditor.tsx
  frontend/gui/src/store/index.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

feat: Complete accessibility improvements for WCAG 2.1 AA compliance
  frontend/gui/src/components/BuilderLayout.tsx
  frontend/gui/src/components/common/LiveRegion.tsx
  frontend/gui/src/components/layers/LayerTree.tsx
  frontend/gui/src/components/layers/LayerTreeItem.tsx
  frontend/gui/src/components/preview/PreviewModal.tsx
  frontend/gui/src/components/toolbar/Toolbar.tsx
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

feat: Add comprehensive testing infrastructure for page builder
  frontend/gui/src/__tests__/components/PropertyEditor.test.enhanced.tsx
  frontend/gui/src/__tests__/components/Toolbar.test.tsx
  frontend/tests/e2e/page-builder.spec.ts
  frontend/vitest.setup.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

1234
  frontend/src/lib/actions/admin.audit-logs.ts
  frontend/src/lib/actions/admin.configuration.ts
  frontend/src/lib/actions/admin.integrations.ts
  frontend/src/lib/actions/alerts.reports.ts
  frontend/src/lib/actions/compliance.audit.ts
  frontend/src/lib/actions/compliance.training.ts
  frontend/src/lib/actions/health-records.crud.ts
  frontend/src/lib/actions/health-records.utils.ts
  frontend/src/lib/actions/inventory.actions.ts
  frontend/src/lib/actions/inventory.utils.ts
  frontend/src/lib/actions/settings.actions.ts
  frontend/src/lib/actions/settings.utils.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

12345
  frontend/FINAL_MIGRATION_VERIFICATION.md
  frontend/MIGRATION_ACTION_ITEMS.md
  frontend/MIGRATION_REPORTS_INDEX.md
  frontend/MIGRATION_SUMMARY.md
  frontend/src/components/features/health-records/components/tabs/RecordsTab.tsx
  frontend/src/lib/actions/ACTIONS_SERVICE_DEPENDENCIES.md
  frontend/src/services/modules/ADMINISTRATION_MIGRATION_SUMMARY.md
  frontend/src/services/modules/BILLING_INCIDENTS_MIGRATION_SUMMARY.md
  frontend/src/services/modules/CLEANUP_RECOMMENDATIONS.md
  frontend/src/services/modules/DEPRECATED.md
  frontend/src/services/modules/MIGRATION_GUIDE_SYSTEM_INTEGRATION.md
  frontend/src/services/modules/MIGRATION_SUMMARY.md
  frontend/src/services/modules/ORGANIZATION_REPORT.md
  frontend/src/services/modules/ORGANIZATION_SUMMARY.md
  frontend/src/services/modules/README.md
  frontend/src/services/modules/SERVICES_INTERNAL_REFERENCES.md
  frontend/src/services/modules/STUDENTS_INVENTORY_MIGRATION_SUMMARY.md
  frontend/src/services/modules/UPDATE_SUMMARY.md
  frontend/src/utils/healthRecords.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

12345678
  frontend/ADMIN_SERVICES_MIGRATION_REPORT.md
  frontend/ANALYTICS_APPOINTMENTS_MIGRATION_SUMMARY.md
  frontend/FINAL_MIGRATION_VERIFICATION.md
  frontend/MIGRATION-SUMMARY.md
  frontend/MIGRATION_ACTION_ITEMS.md
  frontend/MIGRATION_ACTION_PLAN.md
  frontend/MIGRATION_COMPLETE.md
  frontend/MIGRATION_GUIDE_ANALYTICS_APPOINTMENTS.md
  frontend/MIGRATION_INDEX.md
  frontend/MIGRATION_QUICK_REFERENCE.md
  frontend/MIGRATION_REPORTS_INDEX.md
  frontend/MIGRATION_SUMMARY.md
  frontend/MIGRATION_SUMMARY_BILLING_BUDGET_COMMUNICATIONS.md
  frontend/SERVICE_MODULES_MIGRATION_STATUS.md
  frontend/SYSTEM_INTEGRATION_MIGRATION_SUMMARY.md
  frontend/UPDATE_VERIFICATION_REPORT.md
  frontend/src/app/(dashboard)/communications/data.ts
  frontend/src/hooks/domains/health-records/allergyHooks.ts
  frontend/src/hooks/domains/health-records/conditionHooks.ts
  frontend/src/hooks/domains/health-records/growthHooks.ts
  frontend/src/hooks/domains/health-records/healthRecordHooks.ts
  frontend/src/hooks/domains/health-records/index.ts
  frontend/src/hooks/domains/health-records/screeningHooks.ts
  frontend/src/hooks/domains/health-records/vaccinationHooks.ts
  frontend/src/hooks/domains/health-records/vitalSignsHooks.ts
  frontend/src/identity-access/stores/accessControl/thunks/incidentsThunks.ts
  frontend/src/identity-access/stores/accessControl/thunks/permissionsThunks.ts
  frontend/src/identity-access/stores/accessControl/thunks/rolesThunks.ts
  frontend/src/identity-access/stores/accessControl/thunks/sessionsThunks.ts
  frontend/src/lib/actions/ACTIONS_SERVICE_DEPENDENCIES.md
  frontend/src/lib/actions/admin.access-control-incidents.ts
  frontend/src/lib/actions/admin.access-control-permissions.ts
  frontend/src/lib/actions/admin.access-control-roles.ts
  frontend/src/lib/actions/admin.access-control-sessions.ts
  frontend/src/services/modules/SERVICES_INTERNAL_REFERENCES.md
  frontend/src/types/domain/healthRecords.types.ts
  frontend/src/types/legacy/healthRecords.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

123456
  frontend/src/constants/api/health.ts
  frontend/src/lib/actions/immunizations.crud.ts
  frontend/src/lib/actions/medications.cache.ts
  frontend/src/lib/api/nextjs-client.legacy.ts
  frontend/src/lib/services/health.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  bash -c 'cd backend && tsc --noEmit': any of: backend/**/*.ts
  bash -c 'cd frontend && tsc --noEmit': any of: frontend/**/*.{ts,tsx}
