Repository harborgrid-justin/white-cross: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit', bash -c 'cd frontend && tsc --noEmit'

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "backend/**/*.ts": [
    "bash -c 'cd backend && tsc --noEmit'"
  ],
  "frontend/**/*.{ts,tsx}": [
    "bash -c 'cd frontend && tsc --noEmit'"
  ]
}

13
  backend/src/contact/services/contact.service.ts
  backend/src/database/migrations/20250103000000-create-base-schema.js
  backend/src/database/migrations/20250103000001-create-health-records-core.js
  backend/src/database/migrations/20250103000002-create-additional-critical-tables.js
  backend/src/database/migrations/20251009013303-enhance-system-configuration.js
  backend/src/database/migrations/20251010000000-complete-health-records-schema.js
  backend/src/database/migrations/20251011000000-performance-indexes.js
  backend/src/emergency-contact/__tests__/emergency-contact.service.spec.ts
  backend/src/health-record/health-record.service.ts
  backend/src/infrastructure/graphql/dataloaders/dataloader.factory.ts
  backend/src/medication/medication.repository.ts
  backend/src/medication/services/medication.service.ts
  backend/src/student/student-sequelize.service.ts
  backend/src/student/student.service.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

56565
  .claude/settings.local.json
  backend/ANALYSIS_FILES_INDEX.md
  backend/COMPREHENSIVE_GAP_ANALYSIS_SUMMARY.md
  backend/DATALOADER_ARCHITECTURE.md
  backend/DATALOADER_GAP_ANALYSIS.md
  backend/DATALOADER_INTEGRATION_ANALYSIS.md
  backend/DATALOADER_TYPE_SAFETY_SUMMARY.md
  backend/DETAILED_CODE_FINDINGS.md
  backend/MIGRATION_EXECUTION_GUIDE.md
  backend/SECURITY_AUDIT_REPORT.md
  backend/SECURITY_AUDIT_SUMMARY.md
  backend/SECURITY_ISSUES_AND_FIXES.md
  backend/SEQUELIZE_MODEL_CONSISTENCY_ANALYSIS.md
  backend/TYPESCRIPT_REVIEW_REPORT.md
  backend/dataloader-batch-query-performance-analysis.md
  backend/src/auth/guards/__tests__/jwt-auth.guard.spec.ts
  backend/src/auth/guards/roles.guard.ts
  backend/src/database/migrations/20250103000003-create-system-configuration.js
  backend/src/database/migrations/20251010000000-complete-health-records-schema-FIXED.js
  backend/src/infrastructure/email/__tests__/email-rate-limiter.service.spec.ts
  backend/src/infrastructure/graphql/graphql.module.ts
  backend/src/infrastructure/graphql/resolvers/student.resolver.ts
  backend/src/infrastructure/graphql/types/context.interface.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

feat: WebSocket security improvements - token blacklist integration
  backend/WEBSOCKET_FIXES_VERIFICATION.md
  backend/src/infrastructure/websocket/guards/ws-jwt-auth.guard.ts
  backend/src/infrastructure/websocket/websocket.module.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

fix: Providers & DI from 95% to 100% compliance (items 36-50)
  backend/src/app.module.ts
  backend/src/auth/services/token-blacklist.service.ts
  backend/src/core/core.module.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

4040403
  backend/src/appointment/index.ts
  backend/src/audit/index.ts
  backend/src/auth/auth.controller.extended.ts
  backend/src/auth/auth.service.SECURITY_UPDATE.ts
  backend/src/clinical/controllers/prescription-alias.controller.ts
  backend/src/clinical/controllers/prescription.controller.ts
  backend/src/common/exceptions/filters/http-exception.filter.ts
  backend/src/common/interceptors/error-mapping.interceptor.ts
  backend/src/common/pipes/parse-date.pipe.ts
  backend/src/communication/gateways/communication.gateway.ts
  backend/src/compliance/services/compliance-report.service.ts
  backend/src/config/app-config.service.ts
  backend/src/core/core.module.ts
  backend/src/database/models/academic-transcript.model.ts
  backend/src/database/models/alert-preferences.model.ts
  backend/src/database/models/alert-rule.model.ts
  backend/src/database/models/alert.model.ts
  backend/src/database/models/audit-log.model.ts
  backend/src/database/models/cache-entry.model.ts
  backend/src/database/models/compliance-checklist-item.model.ts
  backend/src/database/models/delivery-log.model.ts
  backend/src/database/models/emergency-broadcast.model.ts
  backend/src/database/models/emergency-contact.model.ts
  backend/src/database/models/mental-health-record.model.ts
  backend/src/database/models/message-reaction.model.ts
  backend/src/database/models/message-read.model.ts
  backend/src/database/models/policy-acknowledgment.model.ts
  backend/src/database/models/sync-state.model.ts
  backend/src/database/repositories/base/base.repository.ts
  backend/src/database/repositories/impl/permission.repository.ts
  backend/src/database/repositories/impl/session.repository.ts
  backend/src/database/repositories/impl/student.repository.ts
  backend/src/health-domain/repositories/impl/vital-signs.repository.ts
  backend/src/infrastructure/monitoring/sentry.service.ts
  backend/src/infrastructure/websocket/websocket-enhanced.gateway.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

3333
  CLEANUP_REPORT.md
  backend/.env.example
  backend/.env.example.SECURITY_UPDATE
  backend/.env.example.old
  backend/src/app.module.FIXED.ts
  backend/src/app.module.SECURITY_UPDATE.ts
  backend/src/appointment/index.ts
  backend/src/audit/index.ts
  backend/src/auth/auth.controller.extended.ts
  backend/src/auth/auth.controller.ts
  backend/src/auth/auth.service.SECURITY_UPDATE.ts
  backend/src/auth/auth.service.ts
  backend/src/compliance/services/compliance-report.service.ts
  backend/src/database/migrations/20251010000000-complete-health-records-schema-FIXED.js
  backend/src/database/migrations/20251010000000-complete-health-records-schema.js
  backend/src/infrastructure/graphql/guards/gql-auth.guard.FIXED.ts
  backend/src/infrastructure/websocket/guards/ws-jwt-auth.guard.FIXED.ts
  backend/src/middleware/core/core-middleware.module.FIXED.ts
  backend/src/middleware/core/core-middleware.module.ts
  backend/src/middleware/security/rate-limit.guard.FIXED.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

erere
  DUPLICATE_FILE_CLEANUP_REPORT.md
  backend/src/common/exceptions/filters/http-exception.filter.ts
  backend/src/core/core.module.ts
  backend/src/middleware/core/middleware/session.middleware.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

6786
  frontend/src/actions/incidents.actions.ts
  frontend/src/app/(dashboard)/documents/[id]/page.tsx
  frontend/src/app/(dashboard)/documents/[id]/sign/page.tsx
  frontend/src/app/(dashboard)/documents/_components/DocumentsContent.tsx
  frontend/src/app/(dashboard)/documents/templates/[id]/edit/page.tsx
  frontend/src/app/(dashboard)/documents/templates/page.tsx
  frontend/src/app/(dashboard)/documents/upload/page.tsx
  frontend/src/app/(dashboard)/forms/[id]/edit/page.tsx
  frontend/src/app/(dashboard)/forms/[id]/responses/page.tsx
  frontend/src/app/(dashboard)/forms/_components/FormsContent.tsx
  frontend/src/app/(dashboard)/forms/new/page.tsx
  frontend/src/app/(dashboard)/messages/_components/MessagesContent.tsx
  frontend/src/app/(dashboard)/students/[id]/page.tsx
  frontend/src/app/api/analytics/route.ts
  frontend/src/app/api/appointments/[id]/route.ts
  frontend/src/app/api/appointments/route.ts
  frontend/src/app/api/health-records/route.ts
  frontend/src/app/api/incidents/route.ts
  frontend/src/app/api/medications/route.ts
  frontend/src/app/api/revalidate/route.ts
  frontend/src/app/api/students/[id]/route.ts
  frontend/src/app/api/students/route.ts
  frontend/src/components/appointments/AppointmentCalendar.tsx
  frontend/src/components/features/communication/components/BroadcastManager.tsx
  frontend/src/components/incidents/IncidentReportForm.tsx
  frontend/src/components/medications/administration/AdministrationLog.tsx
  frontend/src/components/medications/core/MedicationList.tsx
  frontend/src/components/shared/PageHeader.tsx
  frontend/src/components/shared/index.ts
  frontend/src/components/ui/charts/ComposedChart.tsx
  frontend/src/components/ui/charts/index.ts
  frontend/src/components/ui/inputs/index.ts
  frontend/src/lib/actions/incidents.actions.ts
  frontend/src/lib/api/nextjs-client.ts
  frontend/src/middleware/withAuth.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

Fix critical frontend gaps: React, accessibility, UI/UX, performance, and CSS
  FRONTEND_PERFORMANCE_GAP_ANALYSIS.md
  frontend-css-gap-analysis-report.md
  frontend/docs/DESIGN_TOKENS_MIGRATION_GUIDE.md
  frontend/src/app/(dashboard)/admin/_components/AdminContent.tsx
  frontend/src/app/(dashboard)/admin/error.tsx
  frontend/src/app/(dashboard)/analytics/health-metrics/page.tsx
  frontend/src/app/(dashboard)/analytics/incident-trends/page.tsx
  frontend/src/app/(dashboard)/analytics/medication-compliance/page.tsx
  frontend/src/app/(dashboard)/appointments/@modal/(.)[id]/page.tsx
  frontend/src/app/(dashboard)/appointments/_components/AppointmentsContent.tsx
  frontend/src/app/(dashboard)/appointments/calendar/page.tsx
  frontend/src/app/(dashboard)/appointments/error.tsx
  frontend/src/app/(dashboard)/appointments/new/page.tsx
  frontend/src/app/(dashboard)/billing/error.tsx
  frontend/src/app/(dashboard)/billing/loading.tsx
  frontend/src/app/(dashboard)/billing/page.tsx
  frontend/src/app/globals.css
  frontend/src/components/admin/AdminDataTable.tsx
  frontend/src/components/admin/AdminMetricCard.tsx
  frontend/src/components/analytics/HealthMetricsChart.tsx
  frontend/src/components/analytics/IncidentTrendChart.tsx
  frontend/src/components/analytics/MedicationComplianceChart.tsx
  frontend/src/components/common/BUTTON_USAGE_GUIDE.md
  frontend/src/components/common/ErrorBoundary.tsx
  frontend/src/components/common/ErrorPage.tsx
  frontend/src/components/common/StatusBadge.tsx
  frontend/src/components/features/appointments/AppointmentCalendar.tsx
  frontend/src/components/features/appointments/SchedulingForm.tsx
  frontend/src/components/lazy/LazyCalendar.tsx
  frontend/src/components/lazy/LazyCharts.tsx
  frontend/src/components/pages/AccessDeniedPage.tsx
  frontend/src/components/pages/Appointments/AppointmentList.tsx
  frontend/src/components/pages/Appointments/AppointmentScheduler.tsx
  frontend/src/components/pages/Communications/CommunicationComposer.tsx
  frontend/src/components/ui/modal.tsx
  frontend/src/styles/tokens.css
  frontend/tailwind.config.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

actions v3
  frontend/src/lib/actions/APPOINTMENTS_REFACTORING_SUMMARY.md
  frontend/src/lib/actions/INDEX_CHANGES_APPLIED.md
  frontend/src/lib/actions/INDEX_REVIEW_SUMMARY.md
  frontend/src/lib/actions/appointments.actions.ts
  frontend/src/lib/actions/appointments.cache.ts
  frontend/src/lib/actions/appointments.crud.ts
  frontend/src/lib/actions/appointments.types.ts
  frontend/src/lib/actions/appointments.utils.ts
  frontend/src/lib/actions/compliance.audit.ts
  frontend/src/lib/actions/compliance.cache.ts
  frontend/src/lib/actions/compliance.policy.ts
  frontend/src/lib/actions/compliance.reports.ts
  frontend/src/lib/actions/compliance.training.ts
  frontend/src/lib/actions/compliance.types.ts
  frontend/src/lib/actions/index.ts
  frontend/src/lib/actions/reminders.actions.ts
  frontend/src/lib/actions/reminders.forms.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

ert
  frontend/src/app/(dashboard)/dashboard/_components/DashboardContent.tsx
  frontend/src/app/(dashboard)/dashboard/_components/DashboardSidebar.tsx
  frontend/src/app/(dashboard)/dashboard/page.tsx
  frontend/src/identity-access/docs/ARCHITECTURE_REVIEW.md
  frontend/src/identity-access/docs/MIGRATION_GUIDE.md
  frontend/src/identity-access/docs/PERFORMANCE_MIGRATION_GUIDE.md
  frontend/src/identity-access/docs/PERFORMANCE_OPTIMIZATION_REPORT.md
  frontend/src/identity-access/docs/PERFORMANCE_README.md
  frontend/src/identity-access/docs/PERFORMANCE_VISUAL_GUIDE.md
  frontend/src/identity-access/docs/ROUTING_ARCHITECTURE.md
  frontend/src/identity-access/hooks/index.ts
  frontend/src/identity-access/hooks/permission-checks.ts
  frontend/src/identity-access/hooks/permissions.ts
  frontend/src/identity-access/hooks/query-keys.ts
  frontend/src/identity-access/hooks/roles.ts
  frontend/src/identity-access/lib/permissions.ts
  frontend/src/identity-access/middleware/auth.ts
  frontend/src/identity-access/schemas/index.ts
  frontend/src/identity-access/services/authApi.ts
  frontend/src/identity-access/shared/useApiError.ts
  frontend/src/identity-access/stores/accessControlSlice.optimized.ts
  frontend/src/identity-access/stores/accessControlSlice.ts
  frontend/src/identity-access/stores/authSlice.ts
  frontend/src/identity-access/stores/types/accessControl.types.ts
  frontend/src/identity-access/stores/types/auth.types.ts
  frontend/src/lib/api/nextjs-client.ts
  frontend/src/middleware.ts
  frontend/src/proxy.ts
  frontend/tsconfig.json
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

Delete .github/workflows/deploy-production.yml
  .github/workflows/deploy-production.yml
Due: prettier --write

Delete .github/workflows/test-nextjs.yml
  .github/workflows/test-nextjs.yml
Due: prettier --write

Delete .github/workflows/nextjs-testing.yml
  .github/workflows/nextjs-testing.yml
Due: prettier --write

Delete .github/workflows/cd-production.yml
  .github/workflows/cd-production.yml
Due: prettier --write

Delete .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Delete .github/workflows/cd-staging.yml
  .github/workflows/cd-staging.yml
Due: prettier --write

jjj
  backend/package-lock.json
  backend/src/common/exceptions/filters/http-exception.filter.ts
  backend/src/database/migrations/20251009013303-enhance-system-configuration.js
  backend/src/database/migrations/20251011000000-performance-indexes.js
  backend/src/database/types/database.enums.ts
Due: eslint --fix, prettier --write, bash -c 'cd backend && tsc --noEmit'

ghhg
  backend/package-lock.json
  frontend/.claude/agents/accessibility-architect.md
  frontend/.claude/agents/api-architect.md
  frontend/.claude/agents/architecture-lead.md
  frontend/.claude/agents/backend-expert.md
  frontend/.claude/agents/css-styling-architect.md
  frontend/.claude/agents/database-architect.md
  frontend/.claude/agents/devops-engineer.md
  frontend/.claude/agents/frontend-expert.md
  frontend/.claude/agents/frontend-performance-architect.md
  frontend/.claude/agents/game-theory-code-reviewer.md
  frontend/.claude/agents/healthcare-domain-expert.md
  frontend/.claude/agents/murder-board-code-reviewer.md
  frontend/.claude/agents/nextjs-app-router-architect.md
  frontend/.claude/agents/nextjs-caching-architect.md
  frontend/.claude/agents/nextjs-configuration-architect.md
  frontend/.claude/agents/nextjs-data-fetching-architect.md
  frontend/.claude/agents/nextjs-deployment-architect.md
  frontend/.claude/agents/nextjs-performance-architect.md
  frontend/.claude/agents/nextjs-rendering-architect.md
  frontend/.claude/agents/nextjs-server-actions-architect.md
  frontend/.claude/agents/react-component-architect.md
  frontend/.claude/agents/security-compliance-expert.md
  frontend/.claude/agents/server-management-architect.md
  frontend/.claude/agents/state-management-architect.md
  frontend/.claude/agents/swagger-api-documentation-architect.md
  frontend/.claude/agents/task-completion-agent.md
  frontend/.claude/agents/task-orchestrator.md
  frontend/.claude/agents/testing-specialist.md
  frontend/.claude/agents/typescript-architect.md
  frontend/.claude/agents/ui-ux-architect.md
Due: prettier --write

docs: Add comprehensive JSDoc documentation across frontend modules
  frontend/middleware.ts
  frontend/src/config/apolloClient.ts
  frontend/src/config/queryClient.ts
  frontend/src/graphql/client/ApolloProvider.tsx
  frontend/src/graphql/client/apolloClient.ts
  frontend/src/graphql/client/index.ts
  frontend/src/graphql/fragments/appointment.fragments.ts
  frontend/src/graphql/fragments/common.fragments.ts
  frontend/src/graphql/fragments/medication.fragments.ts
  frontend/src/graphql/fragments/student.fragments.ts
  frontend/src/graphql/types/index.ts
  frontend/src/hooks/core/types.ts
  frontend/src/hooks/core/useConnectionMonitor.ts
  frontend/src/hooks/core/useOfflineQueue.ts
  frontend/src/hooks/core/useWebSocket.ts
  frontend/src/hooks/documents.ts
  frontend/src/identity-access/utils/tokenSecurity.encryption.ts
  frontend/src/identity-access/utils/tokenSecurity.storage.ts
  frontend/src/identity-access/utils/tokenSecurity.types.ts
  frontend/src/identity-access/utils/tokenSecurity.validation.ts
  frontend/src/lib/auth.ts
  frontend/src/lib/errorHandler.ts
  frontend/src/lib/utils.ts
  frontend/src/services/resilience/Bulkhead.ts
  frontend/src/services/resilience/CircuitBreaker.ts
  frontend/src/stores/StoreProvider.tsx
  frontend/src/stores/hooks.ts
  frontend/src/stores/reduxStore.ts
  frontend/src/stores/sliceFactory.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

docs: Add comprehensive JSDoc documentation for services directory
  frontend/src/services/config/apiConfig.ts
  frontend/src/services/core/ApiClient.ts
  frontend/src/services/domain/events/DomainEvents.ts
  frontend/src/services/domain/events/EventBus.ts
  frontend/src/services/messaging/types.ts
  frontend/src/services/modules/analytics/appointmentAnalytics.ts
  frontend/src/services/modules/analytics/healthAnalytics.ts
  frontend/src/services/modules/analytics/incidentAnalytics.ts
  frontend/src/services/modules/analytics/medicationAnalytics.ts
  frontend/src/services/modules/health/allergiesApi.ts
  frontend/src/services/modules/health/healthRecordsApi.ts
  frontend/src/services/resilience/HealthMonitor.ts
  frontend/src/services/resilience/RequestDeduplicator.ts
  frontend/src/services/security/index.ts
  frontend/src/services/types/index.ts
  frontend/src/services/utils/responseUtils.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'

mkm
  frontend/.claude/settings.local.json
  frontend/.github/workflows/performance-budget.yml
  frontend/.performance-budget.json
  frontend/IMPROVEMENTS-SUMMARY.md
  frontend/middleware.ts
  frontend/next.config.optimized.ts
  frontend/src/app/(dashboard)/students/page.server.tsx
  frontend/src/app/layout.optimized.tsx
  frontend/src/app/providers-client.tsx
  frontend/src/components/accessible/AccessibleHealthForm.tsx
  frontend/src/components/accessible/EmergencyAlert.tsx
  frontend/src/components/secure/SecureMessageDisplay.tsx
  frontend/src/components/ui/OptimizedImage.tsx
  frontend/src/components/ui/badge/AccessibleBadge.tsx
  frontend/src/identity-access/actions/auth.login.secure.ts
  frontend/src/identity-access/lib/server/auth.ts
  frontend/src/lib/logger/secure-logger.ts
  frontend/src/lib/query-client.ts
  frontend/src/lib/rate-limit.ts
  frontend/src/lib/security/sanitize.ts
  frontend/src/types/phi.ts
Due: eslint --fix, prettier --write, bash -c 'cd frontend && tsc --noEmit'
